//
// Written by Synplify Pro 
// Product Version "N-2018.03G-Beta6"
// Program "Synplify Pro", Mapper "mapgw, Build 1086R"
// Mon Oct 15 17:46:25 2018
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\gowin\1.8\synplifypro\lib\generic\gw1n.v "
// file 1 "\c:\gowin\1.8\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\gowin\1.8\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\fpga_led_tm1637\src\spi_master.v "
// file 6 "\c:\fpga_led_tm1637\src\led_tm1637.v "
// file 7 "\c:\fpga_led_tm1637\src\rom.v "
// file 8 "\c:\fpga_led_tm1637\src\led_tm1637_rom.v "
// file 9 "\c:\gowin\1.8\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
module LED_TM1637_ROM (
  encoded_step,
  clk_led_0,
  encoded_step_i_0,
  un2_step_id_2_s_6_0_SUM,
  un2_step_id_2_cry_5_0_SUM,
  un2_step_id_2_cry_4_0_SUM,
  un2_step_id_2_cry_3_0_SUM,
  un2_step_id_2_cry_2_0_SUM,
  un2_step_id_2_cry_1_0_SUM,
  un2_step_id_2_cry_0_0_SUM
)
;
output [47:0] encoded_step ;
input clk_led_0 ;
output encoded_step_i_0 ;
input un2_step_id_2_s_6_0_SUM ;
input un2_step_id_2_cry_5_0_SUM ;
input un2_step_id_2_cry_4_0_SUM ;
input un2_step_id_2_cry_3_0_SUM ;
input un2_step_id_2_cry_2_0_SUM ;
input un2_step_id_2_cry_1_0_SUM ;
input un2_step_id_2_cry_0_0_SUM ;
wire clk_led_0 ;
wire encoded_step_i_0 ;
wire un2_step_id_2_s_6_0_SUM ;
wire un2_step_id_2_cry_5_0_SUM ;
wire un2_step_id_2_cry_4_0_SUM ;
wire un2_step_id_2_cry_3_0_SUM ;
wire un2_step_id_2_cry_2_0_SUM ;
wire un2_step_id_2_cry_1_0_SUM ;
wire un2_step_id_2_cry_0_0_SUM ;
wire [43:40] dout_1;
wire [35:12] dout_1_0_1_DO;
wire GND ;
wire VCC ;
// @6:152
  INV dout_1_0_0_RNISSQ6 (
	.I(encoded_step[7]),
	.O(encoded_step_i_0)
);
// @8:31
  ROMX9 dout_1_0_0 (
	.DO(encoded_step[35:0]),
	.AD({GND, GND, un2_step_id_2_s_6_0_SUM, un2_step_id_2_cry_5_0_SUM, un2_step_id_2_cry_4_0_SUM, un2_step_id_2_cry_3_0_SUM, un2_step_id_2_cry_2_0_SUM, un2_step_id_2_cry_1_0_SUM, un2_step_id_2_cry_0_0_SUM, GND, GND, GND, GND, GND}),
	.CLK(clk_led_0),
	.WRE(GND),
	.OCE(GND),
	.CE(VCC),
	.RESET(GND),
	.BLKSEL({GND, GND, GND})
);
defparam dout_1_0_0.READ_MODE=1'b0;
defparam dout_1_0_0.BIT_WIDTH=36;
defparam dout_1_0_0.BLK_SEL=3'b000;
defparam dout_1_0_0.RESET_MODE="SYNC";
defparam dout_1_0_0.INIT_RAM_0F=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_0.INIT_RAM_0E=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_0.INIT_RAM_0D=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_0.INIT_RAM_0C=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_0.INIT_RAM_0B=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_0.INIT_RAM_0A=288'h000000000BDE450011BDE440011BDE430012BDE42AF11BDE41AF14BDE40AF10BDE340018;
defparam dout_1_0_0.INIT_RAM_09=288'hBDE33001ABDE32FF19BDE31FF1CBDE30FF18BDE280082BDE240010BDE230012BDE224011;
defparam dout_1_0_0.INIT_RAM_08=288'hBDE214014BDE204010BDE140010BDE130012BDE121011BDE111014BDE101010BDE040010;
defparam dout_1_0_0.INIT_RAM_07=288'hBDE030012BDE020011BDE010014BDE000010220A80010220A40030220A30032220A22031;
defparam dout_1_0_0.INIT_RAM_06=288'h220A12034220A02030220940030220930032220920031220910034220900030220840030;
defparam dout_1_0_0.INIT_RAM_05=288'h22083003222082DA3122081DA3422080DA3022074003022073003222072C03122071C034;
defparam dout_1_0_0.INIT_RAM_04=288'h22070C03022064003022063003222062A03122061A03422060A030220540030220530032;
defparam dout_1_0_0.INIT_RAM_03=288'h220520F31220510F34220500F30220440030220430032220428131220418134220408130;
defparam dout_1_0_0.INIT_RAM_02=288'h22034003022033003222032F13122031F13422030F13022024003022023003222022D931;
defparam dout_1_0_0.INIT_RAM_01=288'h22021D93422020D930220140030220130032220121431220111434220101430220040030;
defparam dout_1_0_0.INIT_RAM_00=288'h220030032220028D31220018D34220008D30110300030110200020000100030000000070;
// @8:31
  ROMX9 dout_1_0_1 (
	.DO({dout_1_0_1_DO[35:12], encoded_step[47:44], dout_1[43:40], encoded_step[39:36]}),
	.AD({GND, GND, un2_step_id_2_s_6_0_SUM, un2_step_id_2_cry_5_0_SUM, un2_step_id_2_cry_4_0_SUM, un2_step_id_2_cry_3_0_SUM, un2_step_id_2_cry_2_0_SUM, un2_step_id_2_cry_1_0_SUM, un2_step_id_2_cry_0_0_SUM, GND, GND, GND, GND, GND}),
	.CLK(clk_led_0),
	.WRE(GND),
	.OCE(GND),
	.CE(VCC),
	.RESET(GND),
	.BLKSEL({GND, GND, GND})
);
defparam dout_1_0_1.READ_MODE=1'b0;
defparam dout_1_0_1.BIT_WIDTH=36;
defparam dout_1_0_1.BLK_SEL=3'b000;
defparam dout_1_0_1.RESET_MODE="SYNC";
defparam dout_1_0_1.INIT_RAM_0F=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_1.INIT_RAM_0E=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_1.INIT_RAM_0D=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_1.INIT_RAM_0C=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_1.INIT_RAM_0B=288'h000000000000000000000000000000000000000000000000000000000000000000000000;
defparam dout_1_0_1.INIT_RAM_0A=288'h000000000000000000000000100000000100000000100000000100000000100000000B00;
defparam dout_1_0_1.INIT_RAM_09=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_08=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_07=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_06=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_05=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_04=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_03=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_02=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_01=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
defparam dout_1_0_1.INIT_RAM_00=288'h000000100000000100000000100000000100000000100000000100000000100000000100;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* LED_TM1637_ROM */

module spi_master_8s_8s_0_1 (
  wr_spi_0,
  rd_spi_0,
  clk_led_0,
  wait_spi_0,
  un2_step_id_1_0_1_0,
  step_id,
  cnt,
  encoded_step_37,
  encoded_step_40,
  encoded_step_0,
  encoded_step_38,
  encoded_step_39,
  internal_state_machine_0,
  tm1637_dio_c_0,
  rst_led_0,
  switches_c,
  clk_led_i_0,
  un2_step_id_i_a2_0_a2_0,
  saved_elapsed_time_1_6,
  saved_elapsed_time_1_8,
  saved_elapsed_time_1_10,
  saved_elapsed_time_1_14,
  saved_elapsed_time_1_15,
  saved_elapsed_time_1_17,
  saved_elapsed_time_1_0,
  saved_elapsed_time_6,
  saved_elapsed_time_8,
  saved_elapsed_time_10,
  saved_elapsed_time_14,
  saved_elapsed_time_15,
  saved_elapsed_time_17,
  saved_elapsed_time_0,
  N_168_i_0,
  repeat_count_1_sqmuxa,
  N_91_i,
  N_85_i,
  repeat_count_0_sqmuxa,
  rst_led_0_sqmuxa,
  elapsed_time_0_sqmuxa_i_0_1z,
  un2_cnt_i,
  un1_elapsed_time_cry_27,
  N_165,
  elapsed_time9,
  N_279,
  N_411,
  N_435,
  N_447,
  N_495,
  N_519,
  N_543,
  N_590_i_0,
  N_170_i,
  N_55_i,
  N_169_i,
  N_164_i,
  N_164
)
;
input wr_spi_0 ;
input rd_spi_0 ;
input clk_led_0 ;
input wait_spi_0 ;
output un2_step_id_1_0_1_0 ;
input [3:0] step_id ;
input [7:0] cnt ;
input encoded_step_37 ;
input encoded_step_40 ;
input encoded_step_0 ;
input encoded_step_38 ;
input encoded_step_39 ;
input internal_state_machine_0 ;
output tm1637_dio_c_0 ;
input rst_led_0 ;
input [3:0] switches_c ;
input clk_led_i_0 ;
output un2_step_id_i_a2_0_a2_0 ;
input saved_elapsed_time_1_6 ;
input saved_elapsed_time_1_8 ;
input saved_elapsed_time_1_10 ;
input saved_elapsed_time_1_14 ;
input saved_elapsed_time_1_15 ;
input saved_elapsed_time_1_17 ;
input saved_elapsed_time_1_0 ;
input saved_elapsed_time_6 ;
input saved_elapsed_time_8 ;
input saved_elapsed_time_10 ;
input saved_elapsed_time_14 ;
input saved_elapsed_time_15 ;
input saved_elapsed_time_17 ;
input saved_elapsed_time_0 ;
output N_168_i_0 ;
output repeat_count_1_sqmuxa ;
output N_91_i ;
output N_85_i ;
output repeat_count_0_sqmuxa ;
output rst_led_0_sqmuxa ;
output elapsed_time_0_sqmuxa_i_0_1z ;
output un2_cnt_i ;
input un1_elapsed_time_cry_27 ;
output N_165 ;
input elapsed_time9 ;
output N_279 ;
output N_411 ;
output N_435 ;
output N_447 ;
output N_495 ;
output N_519 ;
output N_543 ;
output N_590_i_0 ;
output N_170_i ;
output N_55_i ;
output N_169_i ;
output N_164_i ;
output N_164 ;
wire wr_spi_0 ;
wire rd_spi_0 ;
wire clk_led_0 ;
wire wait_spi_0 ;
wire un2_step_id_1_0_1_0 ;
wire encoded_step_37 ;
wire encoded_step_40 ;
wire encoded_step_0 ;
wire encoded_step_38 ;
wire encoded_step_39 ;
wire internal_state_machine_0 ;
wire tm1637_dio_c_0 ;
wire rst_led_0 ;
wire clk_led_i_0 ;
wire un2_step_id_i_a2_0_a2_0 ;
wire saved_elapsed_time_1_6 ;
wire saved_elapsed_time_1_8 ;
wire saved_elapsed_time_1_10 ;
wire saved_elapsed_time_1_14 ;
wire saved_elapsed_time_1_15 ;
wire saved_elapsed_time_1_17 ;
wire saved_elapsed_time_1_0 ;
wire saved_elapsed_time_6 ;
wire saved_elapsed_time_8 ;
wire saved_elapsed_time_10 ;
wire saved_elapsed_time_14 ;
wire saved_elapsed_time_15 ;
wire saved_elapsed_time_17 ;
wire saved_elapsed_time_0 ;
wire N_168_i_0 ;
wire repeat_count_1_sqmuxa ;
wire N_91_i ;
wire N_85_i ;
wire repeat_count_0_sqmuxa ;
wire rst_led_0_sqmuxa ;
wire elapsed_time_0_sqmuxa_i_0_1z ;
wire un2_cnt_i ;
wire un1_elapsed_time_cry_27 ;
wire N_165 ;
wire elapsed_time9 ;
wire N_279 ;
wire N_411 ;
wire N_435 ;
wire N_447 ;
wire N_495 ;
wire N_519 ;
wire N_543 ;
wire N_590_i_0 ;
wire N_170_i ;
wire N_55_i ;
wire N_169_i ;
wire N_164_i ;
wire N_164 ;
wire [2:2] un2_step_id_1_0_m3_am;
wire [2:2] un2_step_id_1_0_m3_bm;
wire [3:3] un2_step_id_i_a2_0_m2_am;
wire [3:3] un2_step_id_i_a2_0_m2_bm;
wire [0:0] state;
wire [0:0] state_i;
wire [0:0] charreceivedn;
wire [0:0] charreceivedn_i;
wire [0:0] charreceivedp;
wire [0:0] charreceivedp_i;
wire [0:0] tx_buffer_fulln;
wire [0:0] tx_buffer_fulln_i;
wire [0:0] tx_buffer_fullp;
wire [0:0] tx_buffer_fullp_i;
wire [0:0] state_0_RNIKQD13_0;
wire [0:0] charreceived;
wire [0:0] un1_debug23_3_i_0_0;
wire [0:0] un1_debug23_4_i_0_0_a2_0_1;
wire [0:0] un1_debug23_4_i_0_0;
wire [4:0] _sck;
wire [7:0] shift_reg_tx;
wire [0:0] un1_debug23_6_i_0_0;
wire [0:0] _mode;
wire [1:1] debug_8;
wire [3:1] shift_reg_tx_9_i_0;
wire [0:0] tx_buffer;
wire [3:0] spi_debug;
wire [7:0] prescaller_cnt;
wire [7:7] shift_reg_tx_9;
wire [0:0] _mosi;
wire [0:0] ss;
wire [0:0] un2_step_id_1_0_1_1;
wire [0:0] un1_debug23_1_i_0_0;
wire [0:0] un1_debug23_5_i_0_0;
wire [6:0] prescaller_cnt_cry_0_RNO;
wire [7:7] prescaller_cnt_qxu;
wire [0:0] _sck_cry_0_RNO_0;
wire [3:1] _sck_cry_0_RNO;
wire [4:4] _sck_qxu;
wire [7:0] prescaller_cnt_s;
wire [4:0] _sck_s;
wire [0:0] prescallerbuff;
wire [3:0] _sck_cry;
wire [4:4] _sck_s_0_COUT;
wire [6:0] prescaller_cnt_cry;
wire [7:7] prescaller_cnt_s_0_COUT;
wire N_123 ;
wire N_124 ;
wire N_172 ;
wire _sck_scalar ;
wire debug23 ;
wire debug23_i ;
wire N_642_i ;
wire _mosi_2_sqmuxa ;
wire N_147 ;
wire N_118 ;
wire N_122 ;
wire N_648 ;
wire N_593_i ;
wire debug29 ;
wire N_132_i ;
wire N_592_i ;
wire N_158 ;
wire N_152_i ;
wire N_115 ;
wire N_652 ;
wire N_635_i ;
wire N_636_i ;
wire N_637_i ;
wire N_156 ;
wire N_641_i ;
wire un2_cntlto7_3 ;
wire un2_cntlto7_4 ;
wire debug28_NE_0 ;
wire un2_tx_buffer_is_empty_92_0_a2_3 ;
wire un2_tx_buffer_is_empty_92_0_a2_4 ;
wire N_638_i ;
wire N_639_i ;
wire N_640_i ;
wire N_96_i ;
wire prescdemux ;
wire _sck_1_sqmuxa_0_122_0_1 ;
wire N_647_i ;
wire VCC ;
wire GND ;
wire N_86 ;
wire N_85 ;
wire N_32 ;
wire N_31 ;
wire N_30 ;
wire N_29 ;
wire N_28 ;
wire N_27 ;
wire N_26 ;
wire N_25 ;
wire N_24 ;
// @6:64
  MUX2_LUT5 \un2_step_id_1_0_m3[2]  (
	.I0(un2_step_id_1_0_m3_am[2]),
	.I1(un2_step_id_1_0_m3_bm[2]),
	.S0(switches_c[2]),
	.O(N_123)
);
// @6:64
  MUX2_LUT5 \un2_step_id_i_a2_0_m2[3]  (
	.I0(un2_step_id_i_a2_0_m2_am[3]),
	.I1(un2_step_id_i_a2_0_m2_bm[3]),
	.S0(switches_c[2]),
	.O(N_124)
);
// @6:122
  INV \_sck_cry_0_RNO[0]  (
	.I(N_172),
	.O(_sck_scalar)
);
// @6:122
  INV debug23_RNIMSF2 (
	.I(debug23),
	.O(debug23_i)
);
// @6:122
  INV \state_0_RNO[0]  (
	.I(state[0]),
	.O(state_i[0])
);
// @5:307
  INV \charreceivedn_i_cZ[0]  (
	.I(charreceivedn[0]),
	.O(charreceivedn_i[0])
);
// @5:172
  INV \charreceivedp_i_cZ[0]  (
	.I(charreceivedp[0]),
	.O(charreceivedp_i[0])
);
// @5:172
  INV \tx_buffer_fulln_i_cZ[0]  (
	.I(tx_buffer_fulln[0]),
	.O(tx_buffer_fulln_i[0])
);
// @5:74
  INV \tx_buffer_fullp_i_cZ[0]  (
	.I(tx_buffer_fullp[0]),
	.O(tx_buffer_fullp_i[0])
);
// @6:196
  INV elapsed_time_0_sqmuxa_i_0_a2_RNICQ9D (
	.I(N_164),
	.O(N_164_i)
);
// @5:172
  LUT3 \charreceivedp_RNO[0]  (
	.I0(state_0_RNIKQD13_0[0]),
	.I1(charreceived[0]),
	.I2(N_172),
	.F(N_642_i)
);
defparam \charreceivedp_RNO[0] .INIT=8'h10;
// @6:180
  LUT4 \un1_debug23_3_i_0_0_cZ[0]  (
	.I0(state_0_RNIKQD13_0[0]),
	.I1(N_172),
	.I2(_mosi_2_sqmuxa),
	.I3(debug23),
	.F(un1_debug23_3_i_0_0[0])
);
defparam \un1_debug23_3_i_0_0_cZ[0] .INIT=16'hF0F4;
// @6:180
  LUT4 \un1_debug23_4_i_0_0_cZ[0]  (
	.I0(N_147),
	.I1(state_0_RNIKQD13_0[0]),
	.I2(_mosi_2_sqmuxa),
	.I3(un1_debug23_4_i_0_0_a2_0_1[0]),
	.F(un1_debug23_4_i_0_0[0])
);
defparam \un1_debug23_4_i_0_0_cZ[0] .INIT=16'hFBFA;
// @6:91
  LUT4 \un2_step_id_0_i_m2_i_m3_RNI0LH71[1]  (
	.I0(N_118),
	.I1(N_122),
	.I2(N_648),
	.I3(switches_c[2]),
	.F(N_169_i)
);
defparam \un2_step_id_0_i_m2_i_m3_RNI0LH71[1] .INIT=16'hF503;
// @5:172
  LUT4 \debug_RNO[0]  (
	.I0(N_172),
	.I1(_sck[0]),
	.I2(debug23),
	.I3(state[0]),
	.F(N_593_i)
);
defparam \debug_RNO[0] .INIT=16'hA200;
// @5:172
  LUT3 \debug_RNO[2]  (
	.I0(N_55_i),
	.I1(debug29),
	.I2(state[0]),
	.F(N_132_i)
);
defparam \debug_RNO[2] .INIT=8'h70;
// @5:172
  LUT3 \debug_RNO[3]  (
	.I0(N_55_i),
	.I1(debug29),
	.I2(state[0]),
	.F(N_592_i)
);
defparam \debug_RNO[3] .INIT=8'h80;
// @5:172
  LUT4 \_mosi_RNO[0]  (
	.I0(N_158),
	.I1(_sck[0]),
	.I2(shift_reg_tx[7]),
	.I3(state[0]),
	.F(N_152_i)
);
defparam \_mosi_RNO[0] .INIT=16'h5100;
// @6:91
  LUT3 \un2_step_id_1_0_m3_RNITMG61[2]  (
	.I0(N_123),
	.I1(switches_c[0]),
	.I2(switches_c[1]),
	.F(N_170_i)
);
defparam \un2_step_id_1_0_m3_RNITMG61[2] .INIT=8'h70;
// @6:180
  LUT3 \un1_debug23_6_i_0_0_cZ[0]  (
	.I0(state_0_RNIKQD13_0[0]),
	.I1(N_172),
	.I2(_mosi_2_sqmuxa),
	.F(un1_debug23_6_i_0_0[0])
);
defparam \un1_debug23_6_i_0_0_cZ[0] .INIT=8'hF4;
// @6:180
  LUT3 elapsed_time_11_2_388_i_m2 (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time_6),
	.I2(saved_elapsed_time_1_6),
	.F(N_543)
);
defparam elapsed_time_11_2_388_i_m2.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_4_360_i_m2 (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time_8),
	.I2(saved_elapsed_time_1_8),
	.F(N_519)
);
defparam elapsed_time_11_4_360_i_m2.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_6_332_i_m2 (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time_10),
	.I2(saved_elapsed_time_1_10),
	.F(N_495)
);
defparam elapsed_time_11_6_332_i_m2.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_10_276_i_m2 (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time_14),
	.I2(saved_elapsed_time_1_14),
	.F(N_447)
);
defparam elapsed_time_11_10_276_i_m2.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_11_262_i_m2 (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time_15),
	.I2(saved_elapsed_time_1_15),
	.F(N_435)
);
defparam elapsed_time_11_11_262_i_m2.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_13_234_i_m2 (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time_17),
	.I2(saved_elapsed_time_1_17),
	.F(N_411)
);
defparam elapsed_time_11_13_234_i_m2.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_24_80_i_m2 (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time_0),
	.I2(saved_elapsed_time_1_0),
	.F(N_279)
);
defparam elapsed_time_11_24_80_i_m2.INIT=8'hE4;
// @6:180
  LUT4 \un1_debug23_4_i_0_0_a2[0]  (
	.I0(N_115),
	.I1(N_652),
	.I2(_mode[0]),
	.I3(_sck[0]),
	.F(N_147)
);
defparam \un1_debug23_4_i_0_0_a2[0] .INIT=16'h0080;
// @5:196
  LUT3 \debug_8_0_0_0[1]  (
	.I0(N_172),
	.I1(debug23),
	.I2(state[0]),
	.F(debug_8[1])
);
defparam \debug_8_0_0_0[1] .INIT=8'h2F;
// @6:64
  LUT3 \un2_step_id_i_a2_0_a2[3]  (
	.I0(N_124),
	.I1(switches_c[0]),
	.I2(switches_c[1]),
	.F(un2_step_id_i_a2_0_a2_0)
);
defparam \un2_step_id_i_a2_0_a2[3] .INIT=8'h4C;
// @6:180
  LUT3 \un1_debug23_4_i_0_0_m3[0]  (
	.I0(debug23),
	.I1(debug29),
	.I2(state[0]),
	.F(N_652)
);
defparam \un1_debug23_4_i_0_0_m3[0] .INIT=8'hD8;
// @5:172
  LUT3 \shift_reg_tx_RNO[1]  (
	.I0(shift_reg_tx_9_i_0[1]),
	.I1(state[0]),
	.I2(tx_buffer[0]),
	.F(N_635_i)
);
defparam \shift_reg_tx_RNO[1] .INIT=8'h54;
// @5:172
  LUT3 \shift_reg_tx_RNO[2]  (
	.I0(shift_reg_tx_9_i_0[2]),
	.I1(state[0]),
	.I2(tx_buffer[0]),
	.F(N_636_i)
);
defparam \shift_reg_tx_RNO[2] .INIT=8'h54;
// @5:172
  LUT3 \shift_reg_tx_RNO[3]  (
	.I0(shift_reg_tx_9_i_0[3]),
	.I1(state[0]),
	.I2(tx_buffer[0]),
	.F(N_637_i)
);
defparam \shift_reg_tx_RNO[3] .INIT=8'h54;
// @6:196
  LUT3 \un2_step_id_1_0_iv_i_0_a2[0]  (
	.I0(elapsed_time9),
	.I1(encoded_step_37),
	.I2(encoded_step_40),
	.F(N_165)
);
defparam \un2_step_id_1_0_iv_i_0_a2[0] .INIT=8'h82;
// @6:180
  LUT2 elapsed_time_11_0_416_i_o4_i_a3_i_o2 (
	.I0(elapsed_time9),
	.I1(un1_elapsed_time_cry_27),
	.F(N_590_i_0)
);
defparam elapsed_time_11_0_416_i_o4_i_a3_i_o2.INIT=4'hD;
// @6:122
  LUT2 \state_0_RNIKQD13_0_cZ[0]  (
	.I0(N_115),
	.I1(state[0]),
	.F(state_0_RNIKQD13_0[0])
);
defparam \state_0_RNIKQD13_0_cZ[0] .INIT=4'h7;
// @6:122
  LUT2 \state_0_RNIKQD13_1[0]  (
	.I0(N_115),
	.I1(state[0]),
	.F(N_156)
);
defparam \state_0_RNIKQD13_1[0] .INIT=4'h4;
// @6:122
  LUT3 \_mosi_RNO_0[0]  (
	.I0(_sck[0]),
	.I1(debug29),
	.I2(shift_reg_tx[0]),
	.F(N_158)
);
defparam \_mosi_RNO_0[0] .INIT=8'h04;
// @6:180
  LUT3 \un1_debug23_4_i_0_0_a2_0_1_cZ[0]  (
	.I0(_mode[0]),
	.I1(_sck[0]),
	.I2(debug29),
	.F(un1_debug23_4_i_0_0_a2_0_1[0])
);
defparam \un1_debug23_4_i_0_0_a2_0_1_cZ[0] .INIT=8'h40;
// @5:172
  LUT4 \shift_reg_tx_RNO[0]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[1]),
	.I2(state[0]),
	.I3(tx_buffer[0]),
	.F(N_641_i)
);
defparam \shift_reg_tx_RNO[0] .INIT=16'hDFD0;
// @6:91
  LUT4 un2_cntlto7_3_RNIMJ861 (
	.I0(cnt[2]),
	.I1(cnt[3]),
	.I2(un2_cntlto7_3),
	.I3(un2_cntlto7_4),
	.F(un2_cnt_i)
);
defparam un2_cntlto7_3_RNIMJ861.INIT=16'h0008;
// @6:197
  LUT2 elapsed_time_0_sqmuxa_i_0 (
	.I0(N_164),
	.I1(un1_elapsed_time_cry_27),
	.F(elapsed_time_0_sqmuxa_i_0_1z)
);
defparam elapsed_time_0_sqmuxa_i_0.INIT=4'hE;
// @6:64
  LUT3 \un2_step_id_1_0_m3_am_cZ[2]  (
	.I0(N_55_i),
	.I1(clk_led_i_0),
	.I2(switches_c[3]),
	.F(un2_step_id_1_0_m3_am[2])
);
defparam \un2_step_id_1_0_m3_am_cZ[2] .INIT=8'h35;
// @6:64
  LUT3 \un2_step_id_1_0_m3_bm_cZ[2]  (
	.I0(spi_debug[2]),
	.I1(step_id[2]),
	.I2(switches_c[3]),
	.F(un2_step_id_1_0_m3_bm[2])
);
defparam \un2_step_id_1_0_m3_bm_cZ[2] .INIT=8'hCA;
// @6:64
  LUT3 \un2_step_id_i_a2_0_m2_am_cZ[3]  (
	.I0(N_55_i),
	.I1(clk_led_i_0),
	.I2(switches_c[3]),
	.F(un2_step_id_i_a2_0_m2_am[3])
);
defparam \un2_step_id_i_a2_0_m2_am_cZ[3] .INIT=8'hCA;
// @6:64
  LUT3 \un2_step_id_i_a2_0_m2_bm_cZ[3]  (
	.I0(spi_debug[3]),
	.I1(step_id[3]),
	.I2(switches_c[3]),
	.F(un2_step_id_i_a2_0_m2_bm[3])
);
defparam \un2_step_id_i_a2_0_m2_bm_cZ[3] .INIT=8'hCA;
// @5:267
  LUT4 debug28_NE (
	.I0(_mode[0]),
	.I1(_sck[1]),
	.I2(_sck[4]),
	.I3(debug28_NE_0),
	.F(debug29)
);
defparam debug28_NE.INIT=16'hFFDB;
// @6:122
  LUT4 \prescaller_cnt_RNIIP913[2]  (
	.I0(prescaller_cnt[2]),
	.I1(prescaller_cnt[6]),
	.I2(un2_tx_buffer_is_empty_92_0_a2_3),
	.I3(un2_tx_buffer_is_empty_92_0_a2_4),
	.F(N_115)
);
defparam \prescaller_cnt_RNIIP913[2] .INIT=16'h1000;
// @5:172
  LUT4 \shift_reg_tx_RNO[4]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[3]),
	.I2(shift_reg_tx[5]),
	.I3(state[0]),
	.F(N_638_i)
);
defparam \shift_reg_tx_RNO[4] .INIT=16'hE400;
// @5:172
  LUT4 \shift_reg_tx_RNO[5]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[4]),
	.I2(shift_reg_tx[6]),
	.I3(state[0]),
	.F(N_639_i)
);
defparam \shift_reg_tx_RNO[5] .INIT=16'hE400;
// @5:172
  LUT4 \shift_reg_tx_RNO[6]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[5]),
	.I2(shift_reg_tx[7]),
	.I3(state[0]),
	.F(N_640_i)
);
defparam \shift_reg_tx_RNO[6] .INIT=16'hE400;
// @6:64
  LUT3 \un2_step_id_3_0_m2[1]  (
	.I0(rst_led_0),
	.I1(switches_c[3]),
	.I2(tm1637_dio_c_0),
	.F(N_122)
);
defparam \un2_step_id_3_0_m2[1] .INIT=8'hB8;
// @5:172
  LUT2 debug23_RNIOTJ2 (
	.I0(debug23),
	.I1(state[0]),
	.F(N_96_i)
);
defparam debug23_RNIOTJ2.INIT=4'hE;
// @5:196
  LUT4 \shift_reg_tx_9_1_0[7]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[6]),
	.I2(state[0]),
	.I3(tx_buffer[0]),
	.F(shift_reg_tx_9[7])
);
defparam \shift_reg_tx_9_1_0[7] .INIT=16'h4F40;
// @5:196
  LUT4 \shift_reg_tx_9_i_0_cZ[1]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[0]),
	.I2(shift_reg_tx[2]),
	.I3(state[0]),
	.F(shift_reg_tx_9_i_0[1])
);
defparam \shift_reg_tx_9_i_0_cZ[1] .INIT=16'h1B00;
// @5:196
  LUT4 \shift_reg_tx_9_i_0_cZ[3]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[2]),
	.I2(shift_reg_tx[4]),
	.I3(state[0]),
	.F(shift_reg_tx_9_i_0[3])
);
defparam \shift_reg_tx_9_i_0_cZ[3] .INIT=16'h1B00;
// @5:196
  LUT4 \shift_reg_tx_9_i_0_cZ[2]  (
	.I0(_mode[0]),
	.I1(shift_reg_tx[1]),
	.I2(shift_reg_tx[3]),
	.I3(state[0]),
	.F(shift_reg_tx_9_i_0[2])
);
defparam \shift_reg_tx_9_i_0_cZ[2] .INIT=16'h1B00;
// @6:197
  LUT2 repeat_count_0_sqmuxa_0_a3 (
	.I0(encoded_step_0),
	.I1(rst_led_0_sqmuxa),
	.F(repeat_count_0_sqmuxa)
);
defparam repeat_count_0_sqmuxa_0_a3.INIT=4'h8;
// @5:340
  LUT3 \mosi_0_o2_1_o2[0]  (
	.I0(_mode[0]),
	.I1(_mosi[0]),
	.I2(ss[0]),
	.F(tm1637_dio_c_0)
);
defparam \mosi_0_o2_1_o2[0] .INIT=8'hDC;
// @6:104
  LUT4 un2_cntlto7_4_cZ (
	.I0(cnt[4]),
	.I1(cnt[5]),
	.I2(cnt[6]),
	.I3(cnt[7]),
	.F(un2_cntlto7_4)
);
defparam un2_cntlto7_4_cZ.INIT=16'h7FFF;
// @5:267
  LUT3 debug28_NE_0_cZ (
	.I0(_mode[0]),
	.I1(_sck[2]),
	.I2(_sck[3]),
	.F(debug28_NE_0)
);
defparam debug28_NE_0_cZ.INIT=8'hBD;
// @6:122
  LUT3 \_prescaller_RNI8KTV[0]  (
	.I0(prescaller_cnt[1]),
	.I1(prescaller_cnt[3]),
	.I2(prescdemux),
	.F(un2_tx_buffer_is_empty_92_0_a2_3)
);
defparam \_prescaller_RNI8KTV[0] .INIT=8'h21;
// @6:122
  LUT4 \prescaller_cnt_RNISOIB1[0]  (
	.I0(prescaller_cnt[0]),
	.I1(prescaller_cnt[4]),
	.I2(prescaller_cnt[5]),
	.I3(prescaller_cnt[7]),
	.F(un2_tx_buffer_is_empty_92_0_a2_4)
);
defparam \prescaller_cnt_RNISOIB1[0] .INIT=16'h0002;
// @6:64
  LUT3 \un2_step_id_0_i_m2_i_m3[1]  (
	.I0(spi_debug[1]),
	.I1(step_id[1]),
	.I2(switches_c[3]),
	.F(N_118)
);
defparam \un2_step_id_0_i_m2_i_m3[1] .INIT=8'hCA;
// @6:197
  LUT2 rst_led_0_sqmuxa_0_a4_0_a2 (
	.I0(internal_state_machine_0),
	.I1(un1_elapsed_time_cry_27),
	.F(rst_led_0_sqmuxa)
);
defparam rst_led_0_sqmuxa_0_a4_0_a2.INIT=4'h1;
// @6:196
  LUT2 \un2_step_id_1_0_iv_i_0_x3[1]  (
	.I0(encoded_step_38),
	.I1(encoded_step_40),
	.F(N_85_i)
);
defparam \un2_step_id_1_0_iv_i_0_x3[1] .INIT=4'h6;
// @6:196
  LUT2 \un2_step_id_1_0_iv_i_0_x3[2]  (
	.I0(encoded_step_39),
	.I1(encoded_step_40),
	.F(N_91_i)
);
defparam \un2_step_id_1_0_iv_i_0_x3[2] .INIT=4'h6;
// @5:348
  LUT2 \charreceived_cZ[0]  (
	.I0(charreceivedn[0]),
	.I1(charreceivedp[0]),
	.F(charreceived[0])
);
defparam \charreceived_cZ[0] .INIT=4'h6;
// @5:271
  LUT2 debug23_cZ (
	.I0(tx_buffer_fulln[0]),
	.I1(tx_buffer_fullp[0]),
	.F(debug23)
);
defparam debug23_cZ.INIT=4'h6;
// @5:249
  LUT2 debug32_i_x2_i_x3 (
	.I0(_mode[0]),
	.I1(_sck[0]),
	.F(N_55_i)
);
defparam debug32_i_x2_i_x3.INIT=4'h6;
// @6:64
  LUT2 \un2_step_id_1_0_o3[0]  (
	.I0(switches_c[0]),
	.I1(switches_c[1]),
	.F(N_648)
);
defparam \un2_step_id_1_0_o3[0] .INIT=4'h7;
// @6:104
  LUT2 un2_cntlto7_3_cZ (
	.I0(cnt[0]),
	.I1(cnt[1]),
	.F(un2_cntlto7_3)
);
defparam un2_cntlto7_3_cZ.INIT=4'h7;
// @6:122
  LUT4 \_sck_RNIECIL[1]  (
	.I0(_sck[0]),
	.I1(_sck[1]),
	.I2(_sck[2]),
	.I3(_sck[3]),
	.F(_sck_1_sqmuxa_0_122_0_1)
);
defparam \_sck_RNIECIL[1] .INIT=16'h7F01;
// @6:122
  LUT4 \_sck_RNIBQV91[4]  (
	.I0(_mode[0]),
	.I1(_sck[3]),
	.I2(_sck[4]),
	.I3(_sck_1_sqmuxa_0_122_0_1),
	.F(N_172)
);
defparam \_sck_RNIBQV91[4] .INIT=16'h2004;
// @6:64
  LUT4 \un2_step_id_1_0_1_1_cZ[0]  (
	.I0(rst_led_0),
	.I1(step_id[0]),
	.I2(switches_c[2]),
	.I3(switches_c[3]),
	.F(un2_step_id_1_0_1_1[0])
);
defparam \un2_step_id_1_0_1_1_cZ[0] .INIT=16'h3A0F;
// @6:64
  LUT4 \un2_step_id_1_0_1[0]  (
	.I0(N_648),
	.I1(un2_step_id_1_0_1_1[0]),
	.I2(spi_debug[0]),
	.I3(switches_c[3]),
	.F(un2_step_id_1_0_1_0)
);
defparam \un2_step_id_1_0_1[0] .INIT=16'h11BA;
// @6:197
  LUT4 elapsed_time_0_sqmuxa_i_0_a2 (
	.I0(internal_state_machine_0),
	.I1(charreceivedn[0]),
	.I2(charreceivedp[0]),
	.I3(wait_spi_0),
	.F(N_164)
);
defparam elapsed_time_0_sqmuxa_i_0_a2.INIT=16'h28AA;
// @6:180
  LUT3 \un1_debug23_1_i_0_0_a2[0]  (
	.I0(state[0]),
	.I1(tx_buffer_fulln[0]),
	.I2(tx_buffer_fullp[0]),
	.F(_mosi_2_sqmuxa)
);
defparam \un1_debug23_1_i_0_0_a2[0] .INIT=8'h14;
// @6:180
  LUT4 \un1_debug23_1_i_0_0_cZ[0]  (
	.I0(state_0_RNIKQD13_0[0]),
	.I1(state[0]),
	.I2(tx_buffer_fulln[0]),
	.I3(tx_buffer_fullp[0]),
	.F(un1_debug23_1_i_0_0[0])
);
defparam \un1_debug23_1_i_0_0_cZ[0] .INIT=16'h5775;
// @6:180
  LUT4 \un1_debug23_5_i_0_0_cZ[0]  (
	.I0(N_55_i),
	.I1(N_115),
	.I2(_mosi_2_sqmuxa),
	.I3(state[0]),
	.F(un1_debug23_5_i_0_0[0])
);
defparam \un1_debug23_5_i_0_0_cZ[0] .INIT=16'hF4F0;
// @6:180
  LUT2 \state_0_RNIKQD13[0]  (
	.I0(N_115),
	.I1(state[0]),
	.F(N_647_i)
);
defparam \state_0_RNIKQD13[0] .INIT=4'h8;
  LUT2 \prescaller_cnt_cry_0_RNO_cZ[0]  (
	.I0(N_156),
	.I1(prescaller_cnt[0]),
	.F(prescaller_cnt_cry_0_RNO[0])
);
defparam \prescaller_cnt_cry_0_RNO_cZ[0] .INIT=4'h8;
  LUT2 \prescaller_cnt_cry_0_RNO_cZ[1]  (
	.I0(N_156),
	.I1(prescaller_cnt[1]),
	.F(prescaller_cnt_cry_0_RNO[1])
);
defparam \prescaller_cnt_cry_0_RNO_cZ[1] .INIT=4'h8;
  LUT2 \prescaller_cnt_cry_0_RNO_cZ[2]  (
	.I0(N_156),
	.I1(prescaller_cnt[2]),
	.F(prescaller_cnt_cry_0_RNO[2])
);
defparam \prescaller_cnt_cry_0_RNO_cZ[2] .INIT=4'h8;
  LUT2 \prescaller_cnt_cry_0_RNO_cZ[3]  (
	.I0(N_156),
	.I1(prescaller_cnt[3]),
	.F(prescaller_cnt_cry_0_RNO[3])
);
defparam \prescaller_cnt_cry_0_RNO_cZ[3] .INIT=4'h8;
  LUT2 \prescaller_cnt_cry_0_RNO_cZ[4]  (
	.I0(N_156),
	.I1(prescaller_cnt[4]),
	.F(prescaller_cnt_cry_0_RNO[4])
);
defparam \prescaller_cnt_cry_0_RNO_cZ[4] .INIT=4'h8;
  LUT2 \prescaller_cnt_cry_0_RNO_cZ[5]  (
	.I0(N_156),
	.I1(prescaller_cnt[5]),
	.F(prescaller_cnt_cry_0_RNO[5])
);
defparam \prescaller_cnt_cry_0_RNO_cZ[5] .INIT=4'h8;
  LUT2 \prescaller_cnt_cry_0_RNO_cZ[6]  (
	.I0(N_156),
	.I1(prescaller_cnt[6]),
	.F(prescaller_cnt_cry_0_RNO[6])
);
defparam \prescaller_cnt_cry_0_RNO_cZ[6] .INIT=4'h8;
// @5:172
  LUT2 \prescaller_cnt_qxu_cZ[7]  (
	.I0(N_156),
	.I1(prescaller_cnt[7]),
	.F(prescaller_cnt_qxu[7])
);
defparam \prescaller_cnt_qxu_cZ[7] .INIT=4'h8;
  LUT2 \_sck_cry_0_RNO_0_cZ[0]  (
	.I0(N_172),
	.I1(_sck[0]),
	.F(_sck_cry_0_RNO_0[0])
);
defparam \_sck_cry_0_RNO_0_cZ[0] .INIT=4'h4;
  LUT2 \_sck_cry_0_RNO_cZ[1]  (
	.I0(N_172),
	.I1(_sck[1]),
	.F(_sck_cry_0_RNO[1])
);
defparam \_sck_cry_0_RNO_cZ[1] .INIT=4'h4;
  LUT2 \_sck_cry_0_RNO_cZ[2]  (
	.I0(N_172),
	.I1(_sck[2]),
	.F(_sck_cry_0_RNO[2])
);
defparam \_sck_cry_0_RNO_cZ[2] .INIT=4'h4;
  LUT2 \_sck_cry_0_RNO_cZ[3]  (
	.I0(N_172),
	.I1(_sck[3]),
	.F(_sck_cry_0_RNO[3])
);
defparam \_sck_cry_0_RNO_cZ[3] .INIT=4'h4;
// @5:172
  LUT2 \_sck_qxu_cZ[4]  (
	.I0(N_172),
	.I1(_sck[4]),
	.F(_sck_qxu[4])
);
defparam \_sck_qxu_cZ[4] .INIT=4'h4;
// @6:197
  LUT4 repeat_count_1_sqmuxa_0_a3_0_a2 (
	.I0(N_590_i_0),
	.I1(encoded_step_38),
	.I2(encoded_step_39),
	.I3(internal_state_machine_0),
	.F(repeat_count_1_sqmuxa)
);
defparam repeat_count_1_sqmuxa_0_a3_0_a2.INIT=16'h0054;
  LUT3 \mosi_0_o2_1_o2_RNISUO01[0]  (
	.I0(switches_c[2]),
	.I1(switches_c[3]),
	.I2(tm1637_dio_c_0),
	.F(N_168_i_0)
);
defparam \mosi_0_o2_1_o2_RNISUO01[0] .INIT=8'hFE;
// @5:172
  DFFCE \prescaller_cnt_Z[7]  (
	.Q(prescaller_cnt[7]),
	.D(prescaller_cnt_s[7]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \prescaller_cnt_Z[6]  (
	.Q(prescaller_cnt[6]),
	.D(prescaller_cnt_s[6]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \prescaller_cnt_Z[5]  (
	.Q(prescaller_cnt[5]),
	.D(prescaller_cnt_s[5]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \prescaller_cnt_Z[4]  (
	.Q(prescaller_cnt[4]),
	.D(prescaller_cnt_s[4]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \prescaller_cnt_Z[3]  (
	.Q(prescaller_cnt[3]),
	.D(prescaller_cnt_s[3]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \prescaller_cnt_Z[2]  (
	.Q(prescaller_cnt[2]),
	.D(prescaller_cnt_s[2]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \prescaller_cnt_Z[1]  (
	.Q(prescaller_cnt[1]),
	.D(prescaller_cnt_s[1]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \prescaller_cnt_Z[0]  (
	.Q(prescaller_cnt[0]),
	.D(prescaller_cnt_s[0]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_96_i)
);
// @5:172
  DFFCE \_sck_Z[4]  (
	.Q(_sck[4]),
	.D(_sck_s[4]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_647_i)
);
// @5:172
  DFFCE \_sck_Z[3]  (
	.Q(_sck[3]),
	.D(_sck_s[3]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_647_i)
);
// @5:172
  DFFCE \_sck_Z[2]  (
	.Q(_sck[2]),
	.D(_sck_s[2]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_647_i)
);
// @5:172
  DFFCE \_sck_Z[1]  (
	.Q(_sck[1]),
	.D(_sck_s[1]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_647_i)
);
// @5:172
  DFFCE \_sck_Z[0]  (
	.Q(_sck[0]),
	.D(_sck_s[0]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_647_i)
);
// @5:307
  DFFCE \charreceivedn_Z[0]  (
	.Q(charreceivedn[0]),
	.D(charreceivedn_i[0]),
	.CLK(rd_spi_0),
	.CLEAR(rst_led_0),
	.CE(charreceived[0])
);
// @5:172
  DFFCE \_diomode_Z[0]  (
	.Q(_mode[0]),
	.D(VCC),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(_mosi_2_sqmuxa)
);
// @5:74
  DFFCE \prescallerbuff_Z[0]  (
	.Q(prescallerbuff[0]),
	.D(VCC),
	.CLK(wr_spi_0),
	.CLEAR(rst_led_0),
	.CE(debug23_i)
);
// @5:172
  DFFCE \_prescaller_Z[0]  (
	.Q(prescdemux),
	.D(prescallerbuff[0]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(_mosi_2_sqmuxa)
);
// @5:172
  DFFCE \charreceivedp_Z[0]  (
	.Q(charreceivedp[0]),
	.D(charreceivedp_i[0]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(N_642_i)
);
// @5:172
  DFFPE \_mosi_Z[0]  (
	.Q(_mosi[0]),
	.D(N_152_i),
	.CLK(clk_led_0),
	.PRESET(rst_led_0),
	.CE(un1_debug23_4_i_0_0[0])
);
// @5:172
  DFFPE \ss_Z[0]  (
	.Q(ss[0]),
	.D(debug23_i),
	.CLK(clk_led_0),
	.PRESET(rst_led_0),
	.CE(un1_debug23_3_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[7]  (
	.Q(shift_reg_tx[7]),
	.D(shift_reg_tx_9[7]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[6]  (
	.Q(shift_reg_tx[6]),
	.D(N_640_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[5]  (
	.Q(shift_reg_tx[5]),
	.D(N_639_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[4]  (
	.Q(shift_reg_tx[4]),
	.D(N_638_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[3]  (
	.Q(shift_reg_tx[3]),
	.D(N_637_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[2]  (
	.Q(shift_reg_tx[2]),
	.D(N_636_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[1]  (
	.Q(shift_reg_tx[1]),
	.D(N_635_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \shift_reg_tx_Z[0]  (
	.Q(shift_reg_tx[0]),
	.D(N_641_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_5_i_0_0[0])
);
// @5:172
  DFFCE \debug_Z[3]  (
	.Q(spi_debug[3]),
	.D(N_592_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_1_i_0_0[0])
);
// @5:172
  DFFCE \debug_Z[2]  (
	.Q(spi_debug[2]),
	.D(N_132_i),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_1_i_0_0[0])
);
// @5:172
  DFFCE \debug_Z[1]  (
	.Q(spi_debug[1]),
	.D(debug_8[1]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_1_i_0_0[0])
);
// @5:172
  DFFPE \debug_Z[0]  (
	.Q(spi_debug[0]),
	.D(N_593_i),
	.CLK(clk_led_0),
	.PRESET(rst_led_0),
	.CE(un1_debug23_1_i_0_0[0])
);
// @5:172
  DFFCE \tx_buffer_fulln_0_Z[0]  (
	.Q(tx_buffer_fulln[0]),
	.D(tx_buffer_fulln_i[0]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(_mosi_2_sqmuxa)
);
defparam \tx_buffer_fulln_0_Z[0] .INIT=1'b0;
// @5:74
  DFFCE \tx_buffer_fullp_0_Z[0]  (
	.Q(tx_buffer_fullp[0]),
	.D(tx_buffer_fullp_i[0]),
	.CLK(wr_spi_0),
	.CLEAR(rst_led_0),
	.CE(debug23_i)
);
defparam \tx_buffer_fullp_0_Z[0] .INIT=1'b0;
// @5:172
  DFFCE \state_0_Z[0]  (
	.Q(state[0]),
	.D(state_i[0]),
	.CLK(clk_led_0),
	.CLEAR(rst_led_0),
	.CE(un1_debug23_6_i_0_0[0])
);
defparam \state_0_Z[0] .INIT=1'b0;
// @5:61
  DFFE \tx_buffer_Z[0]  (
	.Q(tx_buffer[0]),
	.D(VCC),
	.CLK(wr_spi_0),
	.CE(debug23_i)
);
// @5:172
  ALU \_sck_s_0[4]  (
	.CIN(_sck_cry[3]),
	.I0(_sck_qxu[4]),
	.I1(GND),
	.I3(GND),
	.COUT(_sck_s_0_COUT[4]),
	.SUM(_sck_s[4])
);
defparam \_sck_s_0[4] .ALU_MODE=0;
// @5:172
  ALU \_sck_cry_0[3]  (
	.CIN(_sck_cry[2]),
	.I0(_sck_cry_0_RNO[3]),
	.I1(GND),
	.I3(GND),
	.COUT(_sck_cry[3]),
	.SUM(_sck_s[3])
);
defparam \_sck_cry_0[3] .ALU_MODE=0;
// @5:172
  ALU \_sck_cry_0[2]  (
	.CIN(_sck_cry[1]),
	.I0(_sck_cry_0_RNO[2]),
	.I1(GND),
	.I3(GND),
	.COUT(_sck_cry[2]),
	.SUM(_sck_s[2])
);
defparam \_sck_cry_0[2] .ALU_MODE=0;
// @5:172
  ALU \_sck_cry_0[1]  (
	.CIN(_sck_cry[0]),
	.I0(_sck_cry_0_RNO[1]),
	.I1(GND),
	.I3(GND),
	.COUT(_sck_cry[1]),
	.SUM(_sck_s[1])
);
defparam \_sck_cry_0[1] .ALU_MODE=0;
// @5:172
  ALU \_sck_cry_0[0]  (
	.CIN(_sck_scalar),
	.I0(_sck_cry_0_RNO_0[0]),
	.I1(GND),
	.I3(GND),
	.COUT(_sck_cry[0]),
	.SUM(_sck_s[0])
);
defparam \_sck_cry_0[0] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_s_0[7]  (
	.CIN(prescaller_cnt_cry[6]),
	.I0(prescaller_cnt_qxu[7]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_s_0_COUT[7]),
	.SUM(prescaller_cnt_s[7])
);
defparam \prescaller_cnt_s_0[7] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_cry_0[6]  (
	.CIN(prescaller_cnt_cry[5]),
	.I0(prescaller_cnt_cry_0_RNO[6]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_cry[6]),
	.SUM(prescaller_cnt_s[6])
);
defparam \prescaller_cnt_cry_0[6] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_cry_0[5]  (
	.CIN(prescaller_cnt_cry[4]),
	.I0(prescaller_cnt_cry_0_RNO[5]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_cry[5]),
	.SUM(prescaller_cnt_s[5])
);
defparam \prescaller_cnt_cry_0[5] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_cry_0[4]  (
	.CIN(prescaller_cnt_cry[3]),
	.I0(prescaller_cnt_cry_0_RNO[4]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_cry[4]),
	.SUM(prescaller_cnt_s[4])
);
defparam \prescaller_cnt_cry_0[4] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_cry_0[3]  (
	.CIN(prescaller_cnt_cry[2]),
	.I0(prescaller_cnt_cry_0_RNO[3]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_cry[3]),
	.SUM(prescaller_cnt_s[3])
);
defparam \prescaller_cnt_cry_0[3] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_cry_0[2]  (
	.CIN(prescaller_cnt_cry[1]),
	.I0(prescaller_cnt_cry_0_RNO[2]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_cry[2]),
	.SUM(prescaller_cnt_s[2])
);
defparam \prescaller_cnt_cry_0[2] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_cry_0[1]  (
	.CIN(prescaller_cnt_cry[0]),
	.I0(prescaller_cnt_cry_0_RNO[1]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_cry[1]),
	.SUM(prescaller_cnt_s[1])
);
defparam \prescaller_cnt_cry_0[1] .ALU_MODE=0;
// @5:172
  ALU \prescaller_cnt_cry_0[0]  (
	.CIN(N_156),
	.I0(prescaller_cnt_cry_0_RNO[0]),
	.I1(GND),
	.I3(GND),
	.COUT(prescaller_cnt_cry[0]),
	.SUM(prescaller_cnt_s[0])
);
defparam \prescaller_cnt_cry_0[0] .ALU_MODE=0;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* spi_master_8s_8s_0_1 */

module LED_TM1637 (
  clk_50M,
  rst_n,
  tm1637_clk,
  tm1637_dio,
  led,
  switches
)
;
input [0:0] clk_50M ;
input [0:0] rst_n ;
output [0:0] tm1637_clk ;
output [0:0] tm1637_dio ;
output [3:0] led ;
input [3:0] switches ;
wire [6:0] step_id;
wire [0:0] rst_led;
wire [0:0] clk_led;
wire [0:0] wr_spi;
wire [0:0] rd_spi;
wire [0:0] wait_spi;
wire [0:0] internal_state_machine;
wire [14:0] repeat_count;
wire [7:0] cnt;
wire [27:0] elapsed_time;
wire [27:0] saved_elapsed_time;
wire [14:0] repeat_count_7;
wire [3:3] un2_step_id_i_a2_0_a2;
wire [0:0] clk_50M_c;
wire [3:0] switches_c;
wire [0:0] tm1637_dio_c;
wire [3:0] led_c;
wire [27:0] saved_elapsed_time_1;
wire [0:0] clk_led_i_i;
wire [7:7] encoded_step_i;
wire [47:0] encoded_step;
wire [0:0] \spi0.un2_step_id_1_0_1 ;
wire un1_elapsed_time_cry_27 ;
wire un1_repeat_count_cry_0_0_SUM ;
wire un1_repeat_count_cry_1_0_SUM ;
wire un1_repeat_count_cry_2_0_SUM ;
wire un1_repeat_count_cry_3_0_SUM ;
wire un1_repeat_count_cry_4_0_SUM ;
wire un1_repeat_count_cry_5_0_SUM ;
wire un1_repeat_count_cry_6_0_SUM ;
wire un1_repeat_count_cry_7_0_SUM ;
wire un1_repeat_count_cry_8_0_SUM ;
wire un1_repeat_count_cry_9_0_SUM ;
wire un1_repeat_count_cry_10_0_SUM ;
wire un1_repeat_count_cry_11_0_SUM ;
wire un1_repeat_count_cry_12_0_SUM ;
wire un1_repeat_count_cry_13_0_SUM ;
wire un1_repeat_count_s_14_0_SUM ;
wire un2_step_id_2_cry_0_0_SUM ;
wire un2_step_id_2_cry_1_0_SUM ;
wire un2_step_id_2_cry_2_0_SUM ;
wire un2_step_id_2_cry_3_0_SUM ;
wire un2_step_id_2_cry_4_0_SUM ;
wire un2_step_id_2_cry_5_0_SUM ;
wire un2_step_id_2_s_6_0_SUM ;
wire VCC ;
wire GND ;
wire rst_led4 ;
wire elapsed_time9 ;
wire repeat_count_0_sqmuxa ;
wire rst_led_0_sqmuxa ;
wire repeat_count_1_sqmuxa ;
wire un1_elapsed_time_cry_0 ;
wire un1_elapsed_time_cry_1 ;
wire un1_elapsed_time_cry_2 ;
wire un1_elapsed_time_cry_3 ;
wire un1_elapsed_time_cry_4 ;
wire un1_elapsed_time_cry_5 ;
wire un1_elapsed_time_cry_6 ;
wire un1_elapsed_time_cry_7 ;
wire un1_elapsed_time_cry_8 ;
wire un1_elapsed_time_cry_9 ;
wire un1_elapsed_time_cry_10 ;
wire un1_elapsed_time_cry_11 ;
wire un1_elapsed_time_cry_12 ;
wire un1_elapsed_time_cry_13 ;
wire un1_elapsed_time_cry_14 ;
wire un1_elapsed_time_cry_15 ;
wire un1_elapsed_time_cry_16 ;
wire un1_elapsed_time_cry_17 ;
wire un1_elapsed_time_cry_18 ;
wire un1_elapsed_time_cry_19 ;
wire un1_elapsed_time_cry_20 ;
wire un1_elapsed_time_cry_21 ;
wire un1_elapsed_time_cry_22 ;
wire un1_elapsed_time_cry_23 ;
wire un1_elapsed_time_cry_24 ;
wire un1_elapsed_time_cry_25 ;
wire un1_elapsed_time_cry_26 ;
wire elapsed_time_11_27_38_i_m2 ;
wire elapsed_time_11_26_52_i_m2 ;
wire elapsed_time_11_25_66_i_m2 ;
wire elapsed_time_11_23_94_i_m2 ;
wire elapsed_time_11_22_108_i_m2 ;
wire elapsed_time_11_21_122_i_m2 ;
wire elapsed_time_11_20_136_i_m2 ;
wire elapsed_time_11_19_150_i_m2 ;
wire elapsed_time_11_18_164_i_m2 ;
wire elapsed_time_11_17_178_i_m2 ;
wire elapsed_time_11_16_192_i_m2 ;
wire elapsed_time_11_15_206_i_m2 ;
wire elapsed_time_11_14_220_i_m2 ;
wire elapsed_time_11_12_248_i_m2 ;
wire elapsed_time_11_9_290_i_m2 ;
wire elapsed_time_11_8_304_i_m2 ;
wire elapsed_time_11_7_318_i_m2 ;
wire elapsed_time_11_5_346_i_m2 ;
wire elapsed_time_11_3_374_i_m2 ;
wire elapsed_time_11_1_402_i_m2 ;
wire elapsed_time_11_0_416_i_m2 ;
wire elapsed_time_0_sqmuxa_i_0 ;
wire N_590_i_0 ;
wire N_165 ;
wire N_55_i ;
wire N_85_i ;
wire N_91_i ;
wire N_164 ;
wire N_543 ;
wire N_519 ;
wire N_495 ;
wire N_447 ;
wire N_435 ;
wire N_411 ;
wire N_279 ;
wire un1_cnt_cry_0_0_SUM ;
wire un1_cnt_cry_1_0_SUM ;
wire un1_cnt_cry_2_0_SUM ;
wire un1_cnt_cry_3_0_SUM ;
wire un1_cnt_cry_4_0_SUM ;
wire un1_cnt_cry_5_0_SUM ;
wire un1_cnt_cry_6_0_SUM ;
wire un1_cnt_s_7_0_SUM ;
wire un1_cnt_cry_0 ;
wire un1_cnt_cry_1 ;
wire un1_cnt_cry_2 ;
wire un1_cnt_cry_3 ;
wire un1_cnt_cry_4 ;
wire un1_cnt_cry_5 ;
wire un1_cnt_cry_6 ;
wire saved_elapsed_time_1_cry_0 ;
wire saved_elapsed_time_1_cry_1 ;
wire saved_elapsed_time_1_cry_2 ;
wire saved_elapsed_time_1_cry_3 ;
wire saved_elapsed_time_1_cry_4 ;
wire saved_elapsed_time_1_cry_5 ;
wire saved_elapsed_time_1_cry_6 ;
wire saved_elapsed_time_1_cry_7 ;
wire saved_elapsed_time_1_cry_8 ;
wire saved_elapsed_time_1_cry_9 ;
wire saved_elapsed_time_1_cry_10 ;
wire saved_elapsed_time_1_cry_11 ;
wire saved_elapsed_time_1_cry_12 ;
wire saved_elapsed_time_1_cry_13 ;
wire saved_elapsed_time_1_cry_14 ;
wire saved_elapsed_time_1_cry_15 ;
wire saved_elapsed_time_1_cry_16 ;
wire saved_elapsed_time_1_cry_17 ;
wire saved_elapsed_time_1_cry_18 ;
wire saved_elapsed_time_1_cry_19 ;
wire saved_elapsed_time_1_cry_20 ;
wire saved_elapsed_time_1_cry_21 ;
wire saved_elapsed_time_1_cry_22 ;
wire saved_elapsed_time_1_cry_23 ;
wire saved_elapsed_time_1_cry_24 ;
wire saved_elapsed_time_1_cry_25 ;
wire saved_elapsed_time_1_cry_26 ;
wire un1_repeat_count_cry_0 ;
wire un1_repeat_count_cry_1 ;
wire un1_repeat_count_cry_2 ;
wire un1_repeat_count_cry_3 ;
wire un1_repeat_count_cry_4 ;
wire un1_repeat_count_cry_5 ;
wire un1_repeat_count_cry_6 ;
wire un1_repeat_count_cry_7 ;
wire un1_repeat_count_cry_8 ;
wire un1_repeat_count_cry_9 ;
wire un1_repeat_count_cry_10 ;
wire un1_repeat_count_cry_11 ;
wire un1_repeat_count_cry_12 ;
wire un1_repeat_count_cry_13 ;
wire un2_step_id_2_cry_0 ;
wire un2_step_id_2_cry_1 ;
wire un2_step_id_2_cry_2 ;
wire un2_step_id_2_cry_3 ;
wire un2_step_id_2_cry_4 ;
wire un2_step_id_2_cry_5 ;
wire un2_step_id_2_axb_6 ;
wire N_164_i ;
wire un1_elapsed_time_cry_27_i ;
wire N_169_i ;
wire N_170_i ;
wire un2_cnt_i ;
wire elapsed_time9_7 ;
wire elapsed_time9_8 ;
wire elapsed_time9_9 ;
wire elapsed_time9_10 ;
wire un2_step_id_2_cry_0_0_RNO ;
wire un2_step_id_2_cry_1_0_RNO ;
wire un2_step_id_2_cry_2_0_RNO ;
wire un2_step_id_2_cry_3_0_RNO ;
wire un2_step_id_2_cry_4_0_RNO ;
wire un2_step_id_2_cry_5_0_RNO ;
wire un2_step_id_2_s_6_0_COUT ;
wire un1_repeat_count_s_14_0_COUT ;
wire saved_elapsed_time_1_s_27_0_COUT ;
wire un1_cnt_s_7_0_COUT ;
wire un1_elapsed_time_cry_0_0_SUM ;
wire un1_elapsed_time_cry_1_0_SUM ;
wire un1_elapsed_time_cry_2_0_SUM ;
wire un1_elapsed_time_cry_3_0_SUM ;
wire un1_elapsed_time_cry_4_0_SUM ;
wire un1_elapsed_time_cry_5_0_SUM ;
wire un1_elapsed_time_cry_6_0_SUM ;
wire un1_elapsed_time_cry_7_0_SUM ;
wire un1_elapsed_time_cry_8_0_SUM ;
wire un1_elapsed_time_cry_9_0_SUM ;
wire un1_elapsed_time_cry_10_0_SUM ;
wire un1_elapsed_time_cry_11_0_SUM ;
wire un1_elapsed_time_cry_12_0_SUM ;
wire un1_elapsed_time_cry_13_0_SUM ;
wire un1_elapsed_time_cry_14_0_SUM ;
wire un1_elapsed_time_cry_15_0_SUM ;
wire un1_elapsed_time_cry_16_0_SUM ;
wire un1_elapsed_time_cry_17_0_SUM ;
wire un1_elapsed_time_cry_18_0_SUM ;
wire un1_elapsed_time_cry_19_0_SUM ;
wire un1_elapsed_time_cry_20_0_SUM ;
wire un1_elapsed_time_cry_21_0_SUM ;
wire un1_elapsed_time_cry_22_0_SUM ;
wire un1_elapsed_time_cry_23_0_SUM ;
wire un1_elapsed_time_cry_24_0_SUM ;
wire un1_elapsed_time_cry_25_0_SUM ;
wire un1_elapsed_time_cry_26_0_SUM ;
wire un1_elapsed_time_cry_27_0_SUM ;
wire N_168_i_0 ;
wire N_1148 ;
wire N_1149 ;
wire N_1150 ;
wire N_1151 ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @6:197
  INV \internal_state_machine_0_RNO[0]  (
	.I(un1_elapsed_time_cry_27),
	.O(un1_elapsed_time_cry_27_i)
);
// @6:91
  INV \clk_led_i_i_cZ[0]  (
	.I(clk_led[0]),
	.O(clk_led_i_i[0])
);
// @6:180
  LUT3 elapsed_time_11_27_38_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[13]),
	.I2(saved_elapsed_time_1[13]),
	.F(elapsed_time_11_27_38_i_m2)
);
defparam elapsed_time_11_27_38_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_26_52_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[12]),
	.I2(saved_elapsed_time_1[12]),
	.F(elapsed_time_11_26_52_i_m2)
);
defparam elapsed_time_11_26_52_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_25_66_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[11]),
	.I2(saved_elapsed_time_1[11]),
	.F(elapsed_time_11_25_66_i_m2)
);
defparam elapsed_time_11_25_66_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_23_94_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[9]),
	.I2(saved_elapsed_time_1[9]),
	.F(elapsed_time_11_23_94_i_m2)
);
defparam elapsed_time_11_23_94_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_22_108_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[8]),
	.I2(saved_elapsed_time_1[8]),
	.F(elapsed_time_11_22_108_i_m2)
);
defparam elapsed_time_11_22_108_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_21_122_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[7]),
	.I2(saved_elapsed_time_1[7]),
	.F(elapsed_time_11_21_122_i_m2)
);
defparam elapsed_time_11_21_122_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_20_136_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[6]),
	.I2(saved_elapsed_time_1[6]),
	.F(elapsed_time_11_20_136_i_m2)
);
defparam elapsed_time_11_20_136_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_19_150_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[5]),
	.I2(saved_elapsed_time_1[5]),
	.F(elapsed_time_11_19_150_i_m2)
);
defparam elapsed_time_11_19_150_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_18_164_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[4]),
	.I2(saved_elapsed_time_1[4]),
	.F(elapsed_time_11_18_164_i_m2)
);
defparam elapsed_time_11_18_164_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_17_178_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[3]),
	.I2(saved_elapsed_time_1[3]),
	.F(elapsed_time_11_17_178_i_m2)
);
defparam elapsed_time_11_17_178_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_16_192_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[2]),
	.I2(saved_elapsed_time_1[2]),
	.F(elapsed_time_11_16_192_i_m2)
);
defparam elapsed_time_11_16_192_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_15_206_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[1]),
	.I2(saved_elapsed_time_1[1]),
	.F(elapsed_time_11_15_206_i_m2)
);
defparam elapsed_time_11_15_206_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_14_220_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[0]),
	.I2(saved_elapsed_time_1[0]),
	.F(elapsed_time_11_14_220_i_m2)
);
defparam elapsed_time_11_14_220_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_12_248_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[26]),
	.I2(saved_elapsed_time_1[26]),
	.F(elapsed_time_11_12_248_i_m2)
);
defparam elapsed_time_11_12_248_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_9_290_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[23]),
	.I2(saved_elapsed_time_1[23]),
	.F(elapsed_time_11_9_290_i_m2)
);
defparam elapsed_time_11_9_290_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_8_304_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[22]),
	.I2(saved_elapsed_time_1[22]),
	.F(elapsed_time_11_8_304_i_m2)
);
defparam elapsed_time_11_8_304_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_7_318_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[21]),
	.I2(saved_elapsed_time_1[21]),
	.F(elapsed_time_11_7_318_i_m2)
);
defparam elapsed_time_11_7_318_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_5_346_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[19]),
	.I2(saved_elapsed_time_1[19]),
	.F(elapsed_time_11_5_346_i_m2)
);
defparam elapsed_time_11_5_346_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_3_374_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[17]),
	.I2(saved_elapsed_time_1[17]),
	.F(elapsed_time_11_3_374_i_m2)
);
defparam elapsed_time_11_3_374_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_1_402_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[15]),
	.I2(saved_elapsed_time_1[15]),
	.F(elapsed_time_11_1_402_i_m2)
);
defparam elapsed_time_11_1_402_i_m2_cZ.INIT=8'hE4;
// @6:180
  LUT3 elapsed_time_11_0_416_i_m2_cZ (
	.I0(N_590_i_0),
	.I1(saved_elapsed_time[14]),
	.I2(saved_elapsed_time_1[14]),
	.F(elapsed_time_11_0_416_i_m2)
);
defparam elapsed_time_11_0_416_i_m2_cZ.INIT=8'hE4;
// @6:239
  LUT4 elapsed_time9_cZ (
	.I0(elapsed_time9_7),
	.I1(elapsed_time9_8),
	.I2(elapsed_time9_9),
	.I3(elapsed_time9_10),
	.F(elapsed_time9)
);
defparam elapsed_time9_cZ.INIT=16'hFFFE;
// @6:212
  LUT3 \repeat_count_RNO[0]  (
	.I0(encoded_step[8]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_0_0_SUM),
	.F(repeat_count_7[0])
);
defparam \repeat_count_RNO[0] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[1]  (
	.I0(encoded_step[9]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_1_0_SUM),
	.F(repeat_count_7[1])
);
defparam \repeat_count_RNO[1] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[2]  (
	.I0(encoded_step[10]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_2_0_SUM),
	.F(repeat_count_7[2])
);
defparam \repeat_count_RNO[2] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[3]  (
	.I0(encoded_step[11]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_3_0_SUM),
	.F(repeat_count_7[3])
);
defparam \repeat_count_RNO[3] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[4]  (
	.I0(encoded_step[12]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_4_0_SUM),
	.F(repeat_count_7[4])
);
defparam \repeat_count_RNO[4] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[5]  (
	.I0(encoded_step[13]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_5_0_SUM),
	.F(repeat_count_7[5])
);
defparam \repeat_count_RNO[5] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[6]  (
	.I0(encoded_step[14]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_6_0_SUM),
	.F(repeat_count_7[6])
);
defparam \repeat_count_RNO[6] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[7]  (
	.I0(encoded_step[15]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_7_0_SUM),
	.F(repeat_count_7[7])
);
defparam \repeat_count_RNO[7] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[8]  (
	.I0(encoded_step[0]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_8_0_SUM),
	.F(repeat_count_7[8])
);
defparam \repeat_count_RNO[8] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[9]  (
	.I0(encoded_step[1]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_9_0_SUM),
	.F(repeat_count_7[9])
);
defparam \repeat_count_RNO[9] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[10]  (
	.I0(encoded_step[2]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_10_0_SUM),
	.F(repeat_count_7[10])
);
defparam \repeat_count_RNO[10] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[11]  (
	.I0(encoded_step[3]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_11_0_SUM),
	.F(repeat_count_7[11])
);
defparam \repeat_count_RNO[11] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[12]  (
	.I0(encoded_step[4]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_12_0_SUM),
	.F(repeat_count_7[12])
);
defparam \repeat_count_RNO[12] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[13]  (
	.I0(encoded_step[5]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_cry_13_0_SUM),
	.F(repeat_count_7[13])
);
defparam \repeat_count_RNO[13] .INIT=8'hB8;
// @6:212
  LUT3 \repeat_count_RNO[14]  (
	.I0(encoded_step[6]),
	.I1(repeat_count_0_sqmuxa),
	.I2(un1_repeat_count_s_14_0_SUM),
	.F(repeat_count_7[14])
);
defparam \repeat_count_RNO[14] .INIT=8'hB8;
// @6:239
  LUT3 elapsed_time9_7_cZ (
	.I0(repeat_count[0]),
	.I1(repeat_count[1]),
	.I2(repeat_count[14]),
	.F(elapsed_time9_7)
);
defparam elapsed_time9_7_cZ.INIT=8'hFE;
// @6:239
  LUT4 elapsed_time9_8_cZ (
	.I0(repeat_count[2]),
	.I1(repeat_count[3]),
	.I2(repeat_count[4]),
	.I3(repeat_count[5]),
	.F(elapsed_time9_8)
);
defparam elapsed_time9_8_cZ.INIT=16'hFFFE;
// @6:239
  LUT4 elapsed_time9_9_cZ (
	.I0(repeat_count[6]),
	.I1(repeat_count[7]),
	.I2(repeat_count[8]),
	.I3(repeat_count[9]),
	.F(elapsed_time9_9)
);
defparam elapsed_time9_9_cZ.INIT=16'hFFFE;
// @6:239
  LUT4 elapsed_time9_10_cZ (
	.I0(repeat_count[10]),
	.I1(repeat_count[11]),
	.I2(repeat_count[12]),
	.I3(repeat_count[13]),
	.F(elapsed_time9_10)
);
defparam elapsed_time9_10_cZ.INIT=16'hFFFE;
// @6:218
  LUT2 rst_led4_cZ (
	.I0(rd_spi[0]),
	.I1(wr_spi[0]),
	.F(rst_led4)
);
defparam rst_led4_cZ.INIT=4'hE;
  LUT3 un2_step_id_2_cry_0_0_RNO_cZ (
	.I0(N_164),
	.I1(N_165),
	.I2(un1_elapsed_time_cry_27),
	.F(un2_step_id_2_cry_0_0_RNO)
);
defparam un2_step_id_2_cry_0_0_RNO_cZ.INIT=8'h02;
  LUT3 un2_step_id_2_cry_1_0_RNO_cZ (
	.I0(N_85_i),
	.I1(N_164),
	.I2(N_590_i_0),
	.F(un2_step_id_2_cry_1_0_RNO)
);
defparam un2_step_id_2_cry_1_0_RNO_cZ.INIT=8'h08;
  LUT3 un2_step_id_2_cry_2_0_RNO_cZ (
	.I0(N_91_i),
	.I1(N_164),
	.I2(N_590_i_0),
	.F(un2_step_id_2_cry_2_0_RNO)
);
defparam un2_step_id_2_cry_2_0_RNO_cZ.INIT=8'h08;
  LUT3 un2_step_id_2_cry_3_0_RNO_cZ (
	.I0(N_164),
	.I1(N_590_i_0),
	.I2(encoded_step[47]),
	.F(un2_step_id_2_cry_3_0_RNO)
);
defparam un2_step_id_2_cry_3_0_RNO_cZ.INIT=8'h20;
  LUT3 un2_step_id_2_cry_4_0_RNO_cZ (
	.I0(N_164),
	.I1(N_590_i_0),
	.I2(encoded_step[47]),
	.F(un2_step_id_2_cry_4_0_RNO)
);
defparam un2_step_id_2_cry_4_0_RNO_cZ.INIT=8'h20;
  LUT3 un2_step_id_2_cry_5_0_RNO_cZ (
	.I0(N_164),
	.I1(N_590_i_0),
	.I2(encoded_step[47]),
	.F(un2_step_id_2_cry_5_0_RNO)
);
defparam un2_step_id_2_cry_5_0_RNO_cZ.INIT=8'h20;
// @6:196
  LUT4 un2_step_id_2_axb_6_cZ (
	.I0(N_164),
	.I1(N_590_i_0),
	.I2(encoded_step[47]),
	.I3(step_id[6]),
	.F(un2_step_id_2_axb_6)
);
defparam un2_step_id_2_axb_6_cZ.INIT=16'hDF20;
// @6:180
  DFF \step_id_Z[2]  (
	.Q(step_id[2]),
	.D(un2_step_id_2_cry_2_0_SUM),
	.CLK(clk_led[0])
);
// @6:180
  DFF \step_id_Z[1]  (
	.Q(step_id[1]),
	.D(un2_step_id_2_cry_1_0_SUM),
	.CLK(clk_led[0])
);
// @6:180
  DFF \step_id_Z[0]  (
	.Q(step_id[0]),
	.D(un2_step_id_2_cry_0_0_SUM),
	.CLK(clk_led[0])
);
// @6:91
  DFF \led_Z[2]  (
	.Q(led_c[2]),
	.D(N_169_i),
	.CLK(clk_50M_c[0])
);
// @6:91
  DFF \led_Z[1]  (
	.Q(led_c[1]),
	.D(N_170_i),
	.CLK(clk_50M_c[0])
);
// @6:91
  DFF \led_Z[0]  (
	.Q(led_c[0]),
	.D(un2_step_id_i_a2_0_a2[3]),
	.CLK(clk_50M_c[0])
);
// @6:180
  DFF \step_id_Z[6]  (
	.Q(step_id[6]),
	.D(un2_step_id_2_s_6_0_SUM),
	.CLK(clk_led[0])
);
// @6:180
  DFF \step_id_Z[5]  (
	.Q(step_id[5]),
	.D(un2_step_id_2_cry_5_0_SUM),
	.CLK(clk_led[0])
);
// @6:180
  DFF \step_id_Z[4]  (
	.Q(step_id[4]),
	.D(un2_step_id_2_cry_4_0_SUM),
	.CLK(clk_led[0])
);
// @6:180
  DFF \step_id_Z[3]  (
	.Q(step_id[3]),
	.D(un2_step_id_2_cry_3_0_SUM),
	.CLK(clk_led[0])
);
// @6:180
  DFFE \saved_elapsed_time_Z[0]  (
	.Q(saved_elapsed_time[0]),
	.D(saved_elapsed_time_1[0]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[0] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[1]  (
	.Q(saved_elapsed_time[1]),
	.D(saved_elapsed_time_1[1]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[1] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[2]  (
	.Q(saved_elapsed_time[2]),
	.D(saved_elapsed_time_1[2]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[2] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[3]  (
	.Q(saved_elapsed_time[3]),
	.D(saved_elapsed_time_1[3]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[3] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[4]  (
	.Q(saved_elapsed_time[4]),
	.D(saved_elapsed_time_1[4]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[4] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[5]  (
	.Q(saved_elapsed_time[5]),
	.D(saved_elapsed_time_1[5]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[5] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[6]  (
	.Q(saved_elapsed_time[6]),
	.D(saved_elapsed_time_1[6]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[6] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[7]  (
	.Q(saved_elapsed_time[7]),
	.D(saved_elapsed_time_1[7]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[7] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[8]  (
	.Q(saved_elapsed_time[8]),
	.D(saved_elapsed_time_1[8]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[8] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[9]  (
	.Q(saved_elapsed_time[9]),
	.D(saved_elapsed_time_1[9]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[9] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[10]  (
	.Q(saved_elapsed_time[10]),
	.D(saved_elapsed_time_1[10]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[10] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[11]  (
	.Q(saved_elapsed_time[11]),
	.D(saved_elapsed_time_1[11]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[11] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[12]  (
	.Q(saved_elapsed_time[12]),
	.D(saved_elapsed_time_1[12]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[12] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[13]  (
	.Q(saved_elapsed_time[13]),
	.D(saved_elapsed_time_1[13]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[13] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[14]  (
	.Q(saved_elapsed_time[14]),
	.D(saved_elapsed_time_1[14]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[14] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[15]  (
	.Q(saved_elapsed_time[15]),
	.D(saved_elapsed_time_1[15]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[15] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[16]  (
	.Q(saved_elapsed_time[16]),
	.D(saved_elapsed_time_1[16]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[16] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[17]  (
	.Q(saved_elapsed_time[17]),
	.D(saved_elapsed_time_1[17]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[17] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[18]  (
	.Q(saved_elapsed_time[18]),
	.D(saved_elapsed_time_1[18]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[18] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[19]  (
	.Q(saved_elapsed_time[19]),
	.D(saved_elapsed_time_1[19]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[19] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[20]  (
	.Q(saved_elapsed_time[20]),
	.D(saved_elapsed_time_1[20]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[20] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[21]  (
	.Q(saved_elapsed_time[21]),
	.D(saved_elapsed_time_1[21]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[21] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[22]  (
	.Q(saved_elapsed_time[22]),
	.D(saved_elapsed_time_1[22]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[22] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[23]  (
	.Q(saved_elapsed_time[23]),
	.D(saved_elapsed_time_1[23]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[23] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[24]  (
	.Q(saved_elapsed_time[24]),
	.D(saved_elapsed_time_1[24]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[24] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[25]  (
	.Q(saved_elapsed_time[25]),
	.D(saved_elapsed_time_1[25]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[25] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[26]  (
	.Q(saved_elapsed_time[26]),
	.D(saved_elapsed_time_1[26]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[26] .INIT=1'b0;
// @6:180
  DFFE \saved_elapsed_time_Z[27]  (
	.Q(saved_elapsed_time[27]),
	.D(saved_elapsed_time_1[27]),
	.CLK(clk_led[0]),
	.CE(repeat_count_0_sqmuxa)
);
defparam \saved_elapsed_time_Z[27] .INIT=1'b0;
// @6:180
  DFFE \rst_led_0_Z[0]  (
	.Q(rst_led[0]),
	.D(rst_led4),
	.CLK(clk_led[0]),
	.CE(rst_led_0_sqmuxa)
);
defparam \rst_led_0_Z[0] .INIT=1'b0;
// @6:180
  DFFE \internal_state_machine_0_Z[0]  (
	.Q(internal_state_machine[0]),
	.D(N_164_i),
	.CLK(clk_led[0]),
	.CE(un1_elapsed_time_cry_27_i)
);
defparam \internal_state_machine_0_Z[0] .INIT=1'b0;
// @6:152
  DFFE \wr_spi_0_Z[0]  (
	.Q(wr_spi[0]),
	.D(encoded_step[2]),
	.CLK(clk_led[0]),
	.CE(encoded_step_i[7])
);
defparam \wr_spi_0_Z[0] .INIT=1'b0;
// @6:152
  DFFE \wait_spi_0_Z[0]  (
	.Q(wait_spi[0]),
	.D(encoded_step[0]),
	.CLK(clk_led[0]),
	.CE(encoded_step_i[7])
);
defparam \wait_spi_0_Z[0] .INIT=1'b0;
// @6:152
  DFFE \rd_spi_0_Z[0]  (
	.Q(rd_spi[0]),
	.D(encoded_step[1]),
	.CLK(clk_led[0]),
	.CE(encoded_step_i[7])
);
defparam \rd_spi_0_Z[0] .INIT=1'b0;
// @6:91
  DFFE \clk_led_0_Z[0]  (
	.Q(clk_led[0]),
	.D(clk_led_i_i[0]),
	.CLK(clk_50M_c[0]),
	.CE(un2_cnt_i)
);
defparam \clk_led_0_Z[0] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[14]  (
	.Q(elapsed_time[14]),
	.D(elapsed_time_11_0_416_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[14] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[15]  (
	.Q(elapsed_time[15]),
	.D(elapsed_time_11_1_402_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[15] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[16]  (
	.Q(elapsed_time[16]),
	.D(N_543),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[16] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[17]  (
	.Q(elapsed_time[17]),
	.D(elapsed_time_11_3_374_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[17] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[18]  (
	.Q(elapsed_time[18]),
	.D(N_519),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[18] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[19]  (
	.Q(elapsed_time[19]),
	.D(elapsed_time_11_5_346_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[19] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[20]  (
	.Q(elapsed_time[20]),
	.D(N_495),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[20] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[21]  (
	.Q(elapsed_time[21]),
	.D(elapsed_time_11_7_318_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[21] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[22]  (
	.Q(elapsed_time[22]),
	.D(elapsed_time_11_8_304_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[22] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[23]  (
	.Q(elapsed_time[23]),
	.D(elapsed_time_11_9_290_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[23] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[24]  (
	.Q(elapsed_time[24]),
	.D(N_447),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[24] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[25]  (
	.Q(elapsed_time[25]),
	.D(N_435),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[25] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[26]  (
	.Q(elapsed_time[26]),
	.D(elapsed_time_11_12_248_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[26] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[27]  (
	.Q(elapsed_time[27]),
	.D(N_411),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[27] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[0]  (
	.Q(elapsed_time[0]),
	.D(elapsed_time_11_14_220_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[0] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[1]  (
	.Q(elapsed_time[1]),
	.D(elapsed_time_11_15_206_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[1] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[2]  (
	.Q(elapsed_time[2]),
	.D(elapsed_time_11_16_192_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[2] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[3]  (
	.Q(elapsed_time[3]),
	.D(elapsed_time_11_17_178_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[3] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[4]  (
	.Q(elapsed_time[4]),
	.D(elapsed_time_11_18_164_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[4] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[5]  (
	.Q(elapsed_time[5]),
	.D(elapsed_time_11_19_150_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[5] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[6]  (
	.Q(elapsed_time[6]),
	.D(elapsed_time_11_20_136_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[6] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[7]  (
	.Q(elapsed_time[7]),
	.D(elapsed_time_11_21_122_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[7] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[8]  (
	.Q(elapsed_time[8]),
	.D(elapsed_time_11_22_108_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[8] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[9]  (
	.Q(elapsed_time[9]),
	.D(elapsed_time_11_23_94_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[9] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[10]  (
	.Q(elapsed_time[10]),
	.D(N_279),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[10] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[11]  (
	.Q(elapsed_time[11]),
	.D(elapsed_time_11_25_66_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[11] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[12]  (
	.Q(elapsed_time[12]),
	.D(elapsed_time_11_26_52_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[12] .INIT=1'b0;
// @6:180
  DFFE \elapsed_time_Z[13]  (
	.Q(elapsed_time[13]),
	.D(elapsed_time_11_27_38_i_m2),
	.CLK(clk_led[0]),
	.CE(elapsed_time_0_sqmuxa_i_0)
);
defparam \elapsed_time_Z[13] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[0]  (
	.Q(repeat_count[0]),
	.D(repeat_count_7[0]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[0] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[8]  (
	.Q(repeat_count[8]),
	.D(repeat_count_7[8]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[8] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[7]  (
	.Q(repeat_count[7]),
	.D(repeat_count_7[7]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[7] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[6]  (
	.Q(repeat_count[6]),
	.D(repeat_count_7[6]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[6] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[5]  (
	.Q(repeat_count[5]),
	.D(repeat_count_7[5]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[5] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[4]  (
	.Q(repeat_count[4]),
	.D(repeat_count_7[4]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[4] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[3]  (
	.Q(repeat_count[3]),
	.D(repeat_count_7[3]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[3] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[2]  (
	.Q(repeat_count[2]),
	.D(repeat_count_7[2]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[2] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[1]  (
	.Q(repeat_count[1]),
	.D(repeat_count_7[1]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[1] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[14]  (
	.Q(repeat_count[14]),
	.D(repeat_count_7[14]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[14] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[13]  (
	.Q(repeat_count[13]),
	.D(repeat_count_7[13]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[13] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[12]  (
	.Q(repeat_count[12]),
	.D(repeat_count_7[12]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[12] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[11]  (
	.Q(repeat_count[11]),
	.D(repeat_count_7[11]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[11] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[10]  (
	.Q(repeat_count[10]),
	.D(repeat_count_7[10]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[10] .INIT=1'b0;
// @6:180
  DFF \repeat_count_Z[9]  (
	.Q(repeat_count[9]),
	.D(repeat_count_7[9]),
	.CLK(clk_led[0])
);
defparam \repeat_count_Z[9] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[2]  (
	.Q(cnt[2]),
	.D(un1_cnt_cry_2_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[2] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[1]  (
	.Q(cnt[1]),
	.D(un1_cnt_cry_1_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[1] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[0]  (
	.Q(cnt[0]),
	.D(un1_cnt_cry_0_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[0] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[7]  (
	.Q(cnt[7]),
	.D(un1_cnt_s_7_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[7] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[6]  (
	.Q(cnt[6]),
	.D(un1_cnt_cry_6_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[6] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[5]  (
	.Q(cnt[5]),
	.D(un1_cnt_cry_5_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[5] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[4]  (
	.Q(cnt[4]),
	.D(un1_cnt_cry_4_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[4] .INIT=1'b0;
// @6:91
  DFF \cnt_Z[3]  (
	.Q(cnt[3]),
	.D(un1_cnt_cry_3_0_SUM),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[3] .INIT=1'b0;
// @6:91
  DFFR \led_Z[3]  (
	.Q(led_c[3]),
	.D(N_168_i_0),
	.CLK(clk_50M_c[0]),
	.RESET(\spi0.un2_step_id_1_0_1 [0])
);
// @6:6
  IBUF \clk_50M_ibuf[0]  (
	.O(clk_50M_c[0]),
	.I(clk_50M[0])
);
// @6:11
  IBUF \switches_ibuf[0]  (
	.O(switches_c[0]),
	.I(switches[0])
);
// @6:11
  IBUF \switches_ibuf[1]  (
	.O(switches_c[1]),
	.I(switches[1])
);
// @6:11
  IBUF \switches_ibuf[2]  (
	.O(switches_c[2]),
	.I(switches[2])
);
// @6:11
  IBUF \switches_ibuf[3]  (
	.O(switches_c[3]),
	.I(switches[3])
);
// @6:8
  OBUF \tm1637_clk_obuf[0]  (
	.O(tm1637_clk[0]),
	.I(N_55_i)
);
// @6:9
  OBUF \tm1637_dio_obuf[0]  (
	.O(tm1637_dio[0]),
	.I(tm1637_dio_c[0])
);
// @6:10
  OBUF \led_obuf[0]  (
	.O(led[0]),
	.I(led_c[0])
);
// @6:10
  OBUF \led_obuf[1]  (
	.O(led[1]),
	.I(led_c[1])
);
// @6:10
  OBUF \led_obuf[2]  (
	.O(led[2]),
	.I(led_c[2])
);
// @6:10
  OBUF \led_obuf[3]  (
	.O(led[3]),
	.I(led_c[3])
);
// @6:196
  ALU un1_elapsed_time_cry_27_0 (
	.CIN(un1_elapsed_time_cry_26),
	.I0(GND),
	.I1(elapsed_time[27]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_27),
	.SUM(un1_elapsed_time_cry_27_0_SUM)
);
defparam un1_elapsed_time_cry_27_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_26_0 (
	.CIN(un1_elapsed_time_cry_25),
	.I0(GND),
	.I1(elapsed_time[26]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_26),
	.SUM(un1_elapsed_time_cry_26_0_SUM)
);
defparam un1_elapsed_time_cry_26_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_25_0 (
	.CIN(un1_elapsed_time_cry_24),
	.I0(GND),
	.I1(elapsed_time[25]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_25),
	.SUM(un1_elapsed_time_cry_25_0_SUM)
);
defparam un1_elapsed_time_cry_25_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_24_0 (
	.CIN(un1_elapsed_time_cry_23),
	.I0(GND),
	.I1(elapsed_time[24]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_24),
	.SUM(un1_elapsed_time_cry_24_0_SUM)
);
defparam un1_elapsed_time_cry_24_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_23_0 (
	.CIN(un1_elapsed_time_cry_22),
	.I0(encoded_step[39]),
	.I1(elapsed_time[23]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_23),
	.SUM(un1_elapsed_time_cry_23_0_SUM)
);
defparam un1_elapsed_time_cry_23_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_22_0 (
	.CIN(un1_elapsed_time_cry_21),
	.I0(encoded_step[38]),
	.I1(elapsed_time[22]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_22),
	.SUM(un1_elapsed_time_cry_22_0_SUM)
);
defparam un1_elapsed_time_cry_22_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_21_0 (
	.CIN(un1_elapsed_time_cry_20),
	.I0(encoded_step[37]),
	.I1(elapsed_time[21]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_21),
	.SUM(un1_elapsed_time_cry_21_0_SUM)
);
defparam un1_elapsed_time_cry_21_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_20_0 (
	.CIN(un1_elapsed_time_cry_19),
	.I0(encoded_step[36]),
	.I1(elapsed_time[20]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_20),
	.SUM(un1_elapsed_time_cry_20_0_SUM)
);
defparam un1_elapsed_time_cry_20_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_19_0 (
	.CIN(un1_elapsed_time_cry_18),
	.I0(encoded_step[35]),
	.I1(elapsed_time[19]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_19),
	.SUM(un1_elapsed_time_cry_19_0_SUM)
);
defparam un1_elapsed_time_cry_19_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_18_0 (
	.CIN(un1_elapsed_time_cry_17),
	.I0(encoded_step[34]),
	.I1(elapsed_time[18]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_18),
	.SUM(un1_elapsed_time_cry_18_0_SUM)
);
defparam un1_elapsed_time_cry_18_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_17_0 (
	.CIN(un1_elapsed_time_cry_16),
	.I0(encoded_step[33]),
	.I1(elapsed_time[17]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_17),
	.SUM(un1_elapsed_time_cry_17_0_SUM)
);
defparam un1_elapsed_time_cry_17_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_16_0 (
	.CIN(un1_elapsed_time_cry_15),
	.I0(encoded_step[32]),
	.I1(elapsed_time[16]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_16),
	.SUM(un1_elapsed_time_cry_16_0_SUM)
);
defparam un1_elapsed_time_cry_16_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_15_0 (
	.CIN(un1_elapsed_time_cry_14),
	.I0(encoded_step[31]),
	.I1(elapsed_time[15]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_15),
	.SUM(un1_elapsed_time_cry_15_0_SUM)
);
defparam un1_elapsed_time_cry_15_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_14_0 (
	.CIN(un1_elapsed_time_cry_13),
	.I0(encoded_step[30]),
	.I1(elapsed_time[14]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_14),
	.SUM(un1_elapsed_time_cry_14_0_SUM)
);
defparam un1_elapsed_time_cry_14_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_13_0 (
	.CIN(un1_elapsed_time_cry_12),
	.I0(encoded_step[29]),
	.I1(elapsed_time[13]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_13),
	.SUM(un1_elapsed_time_cry_13_0_SUM)
);
defparam un1_elapsed_time_cry_13_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_12_0 (
	.CIN(un1_elapsed_time_cry_11),
	.I0(encoded_step[28]),
	.I1(elapsed_time[12]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_12),
	.SUM(un1_elapsed_time_cry_12_0_SUM)
);
defparam un1_elapsed_time_cry_12_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_11_0 (
	.CIN(un1_elapsed_time_cry_10),
	.I0(encoded_step[27]),
	.I1(elapsed_time[11]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_11),
	.SUM(un1_elapsed_time_cry_11_0_SUM)
);
defparam un1_elapsed_time_cry_11_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_10_0 (
	.CIN(un1_elapsed_time_cry_9),
	.I0(encoded_step[26]),
	.I1(elapsed_time[10]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_10),
	.SUM(un1_elapsed_time_cry_10_0_SUM)
);
defparam un1_elapsed_time_cry_10_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_9_0 (
	.CIN(un1_elapsed_time_cry_8),
	.I0(encoded_step[25]),
	.I1(elapsed_time[9]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_9),
	.SUM(un1_elapsed_time_cry_9_0_SUM)
);
defparam un1_elapsed_time_cry_9_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_8_0 (
	.CIN(un1_elapsed_time_cry_7),
	.I0(encoded_step[24]),
	.I1(elapsed_time[8]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_8),
	.SUM(un1_elapsed_time_cry_8_0_SUM)
);
defparam un1_elapsed_time_cry_8_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_7_0 (
	.CIN(un1_elapsed_time_cry_6),
	.I0(encoded_step[23]),
	.I1(elapsed_time[7]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_7),
	.SUM(un1_elapsed_time_cry_7_0_SUM)
);
defparam un1_elapsed_time_cry_7_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_6_0 (
	.CIN(un1_elapsed_time_cry_5),
	.I0(encoded_step[22]),
	.I1(elapsed_time[6]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_6),
	.SUM(un1_elapsed_time_cry_6_0_SUM)
);
defparam un1_elapsed_time_cry_6_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_5_0 (
	.CIN(un1_elapsed_time_cry_4),
	.I0(encoded_step[21]),
	.I1(elapsed_time[5]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_5),
	.SUM(un1_elapsed_time_cry_5_0_SUM)
);
defparam un1_elapsed_time_cry_5_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_4_0 (
	.CIN(un1_elapsed_time_cry_3),
	.I0(encoded_step[20]),
	.I1(elapsed_time[4]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_4),
	.SUM(un1_elapsed_time_cry_4_0_SUM)
);
defparam un1_elapsed_time_cry_4_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_3_0 (
	.CIN(un1_elapsed_time_cry_2),
	.I0(encoded_step[19]),
	.I1(elapsed_time[3]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_3),
	.SUM(un1_elapsed_time_cry_3_0_SUM)
);
defparam un1_elapsed_time_cry_3_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_2_0 (
	.CIN(un1_elapsed_time_cry_1),
	.I0(encoded_step[18]),
	.I1(elapsed_time[2]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_2),
	.SUM(un1_elapsed_time_cry_2_0_SUM)
);
defparam un1_elapsed_time_cry_2_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_1_0 (
	.CIN(un1_elapsed_time_cry_0),
	.I0(encoded_step[17]),
	.I1(elapsed_time[1]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_1),
	.SUM(un1_elapsed_time_cry_1_0_SUM)
);
defparam un1_elapsed_time_cry_1_0.ALU_MODE=1;
// @6:196
  ALU un1_elapsed_time_cry_0_0 (
	.CIN(GND),
	.I0(encoded_step[16]),
	.I1(elapsed_time[0]),
	.I3(GND),
	.COUT(un1_elapsed_time_cry_0),
	.SUM(un1_elapsed_time_cry_0_0_SUM)
);
defparam un1_elapsed_time_cry_0_0.ALU_MODE=1;
// @6:109
  ALU un1_cnt_s_7_0 (
	.CIN(un1_cnt_cry_6),
	.I0(cnt[7]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_s_7_0_COUT),
	.SUM(un1_cnt_s_7_0_SUM)
);
defparam un1_cnt_s_7_0.ALU_MODE=0;
// @6:109
  ALU un1_cnt_cry_6_0 (
	.CIN(un1_cnt_cry_5),
	.I0(cnt[6]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_cry_6),
	.SUM(un1_cnt_cry_6_0_SUM)
);
defparam un1_cnt_cry_6_0.ALU_MODE=0;
// @6:109
  ALU un1_cnt_cry_5_0 (
	.CIN(un1_cnt_cry_4),
	.I0(cnt[5]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_cry_5),
	.SUM(un1_cnt_cry_5_0_SUM)
);
defparam un1_cnt_cry_5_0.ALU_MODE=0;
// @6:109
  ALU un1_cnt_cry_4_0 (
	.CIN(un1_cnt_cry_3),
	.I0(cnt[4]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_cry_4),
	.SUM(un1_cnt_cry_4_0_SUM)
);
defparam un1_cnt_cry_4_0.ALU_MODE=0;
// @6:109
  ALU un1_cnt_cry_3_0 (
	.CIN(un1_cnt_cry_2),
	.I0(cnt[3]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_cry_3),
	.SUM(un1_cnt_cry_3_0_SUM)
);
defparam un1_cnt_cry_3_0.ALU_MODE=0;
// @6:109
  ALU un1_cnt_cry_2_0 (
	.CIN(un1_cnt_cry_1),
	.I0(cnt[2]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_cry_2),
	.SUM(un1_cnt_cry_2_0_SUM)
);
defparam un1_cnt_cry_2_0.ALU_MODE=0;
// @6:109
  ALU un1_cnt_cry_1_0 (
	.CIN(un1_cnt_cry_0),
	.I0(cnt[1]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_cry_1),
	.SUM(un1_cnt_cry_1_0_SUM)
);
defparam un1_cnt_cry_1_0.ALU_MODE=0;
// @6:109
  ALU un1_cnt_cry_0_0 (
	.CIN(VCC),
	.I0(cnt[0]),
	.I1(GND),
	.I3(GND),
	.COUT(un1_cnt_cry_0),
	.SUM(un1_cnt_cry_0_0_SUM)
);
defparam un1_cnt_cry_0_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_s_27_0 (
	.CIN(saved_elapsed_time_1_cry_26),
	.I0(elapsed_time[27]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_s_27_0_COUT),
	.SUM(saved_elapsed_time_1[27])
);
defparam saved_elapsed_time_1_s_27_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_26_0 (
	.CIN(saved_elapsed_time_1_cry_25),
	.I0(elapsed_time[26]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_26),
	.SUM(saved_elapsed_time_1[26])
);
defparam saved_elapsed_time_1_cry_26_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_25_0 (
	.CIN(saved_elapsed_time_1_cry_24),
	.I0(elapsed_time[25]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_25),
	.SUM(saved_elapsed_time_1[25])
);
defparam saved_elapsed_time_1_cry_25_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_24_0 (
	.CIN(saved_elapsed_time_1_cry_23),
	.I0(elapsed_time[24]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_24),
	.SUM(saved_elapsed_time_1[24])
);
defparam saved_elapsed_time_1_cry_24_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_23_0 (
	.CIN(saved_elapsed_time_1_cry_22),
	.I0(elapsed_time[23]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_23),
	.SUM(saved_elapsed_time_1[23])
);
defparam saved_elapsed_time_1_cry_23_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_22_0 (
	.CIN(saved_elapsed_time_1_cry_21),
	.I0(elapsed_time[22]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_22),
	.SUM(saved_elapsed_time_1[22])
);
defparam saved_elapsed_time_1_cry_22_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_21_0 (
	.CIN(saved_elapsed_time_1_cry_20),
	.I0(elapsed_time[21]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_21),
	.SUM(saved_elapsed_time_1[21])
);
defparam saved_elapsed_time_1_cry_21_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_20_0 (
	.CIN(saved_elapsed_time_1_cry_19),
	.I0(elapsed_time[20]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_20),
	.SUM(saved_elapsed_time_1[20])
);
defparam saved_elapsed_time_1_cry_20_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_19_0 (
	.CIN(saved_elapsed_time_1_cry_18),
	.I0(elapsed_time[19]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_19),
	.SUM(saved_elapsed_time_1[19])
);
defparam saved_elapsed_time_1_cry_19_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_18_0 (
	.CIN(saved_elapsed_time_1_cry_17),
	.I0(elapsed_time[18]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_18),
	.SUM(saved_elapsed_time_1[18])
);
defparam saved_elapsed_time_1_cry_18_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_17_0 (
	.CIN(saved_elapsed_time_1_cry_16),
	.I0(elapsed_time[17]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_17),
	.SUM(saved_elapsed_time_1[17])
);
defparam saved_elapsed_time_1_cry_17_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_16_0 (
	.CIN(saved_elapsed_time_1_cry_15),
	.I0(elapsed_time[16]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_16),
	.SUM(saved_elapsed_time_1[16])
);
defparam saved_elapsed_time_1_cry_16_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_15_0 (
	.CIN(saved_elapsed_time_1_cry_14),
	.I0(elapsed_time[15]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_15),
	.SUM(saved_elapsed_time_1[15])
);
defparam saved_elapsed_time_1_cry_15_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_14_0 (
	.CIN(saved_elapsed_time_1_cry_13),
	.I0(elapsed_time[14]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_14),
	.SUM(saved_elapsed_time_1[14])
);
defparam saved_elapsed_time_1_cry_14_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_13_0 (
	.CIN(saved_elapsed_time_1_cry_12),
	.I0(elapsed_time[13]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_13),
	.SUM(saved_elapsed_time_1[13])
);
defparam saved_elapsed_time_1_cry_13_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_12_0 (
	.CIN(saved_elapsed_time_1_cry_11),
	.I0(elapsed_time[12]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_12),
	.SUM(saved_elapsed_time_1[12])
);
defparam saved_elapsed_time_1_cry_12_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_11_0 (
	.CIN(saved_elapsed_time_1_cry_10),
	.I0(elapsed_time[11]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_11),
	.SUM(saved_elapsed_time_1[11])
);
defparam saved_elapsed_time_1_cry_11_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_10_0 (
	.CIN(saved_elapsed_time_1_cry_9),
	.I0(elapsed_time[10]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_10),
	.SUM(saved_elapsed_time_1[10])
);
defparam saved_elapsed_time_1_cry_10_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_9_0 (
	.CIN(saved_elapsed_time_1_cry_8),
	.I0(elapsed_time[9]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_9),
	.SUM(saved_elapsed_time_1[9])
);
defparam saved_elapsed_time_1_cry_9_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_8_0 (
	.CIN(saved_elapsed_time_1_cry_7),
	.I0(elapsed_time[8]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_8),
	.SUM(saved_elapsed_time_1[8])
);
defparam saved_elapsed_time_1_cry_8_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_7_0 (
	.CIN(saved_elapsed_time_1_cry_6),
	.I0(elapsed_time[7]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_7),
	.SUM(saved_elapsed_time_1[7])
);
defparam saved_elapsed_time_1_cry_7_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_6_0 (
	.CIN(saved_elapsed_time_1_cry_5),
	.I0(elapsed_time[6]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_6),
	.SUM(saved_elapsed_time_1[6])
);
defparam saved_elapsed_time_1_cry_6_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_5_0 (
	.CIN(saved_elapsed_time_1_cry_4),
	.I0(elapsed_time[5]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_5),
	.SUM(saved_elapsed_time_1[5])
);
defparam saved_elapsed_time_1_cry_5_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_4_0 (
	.CIN(saved_elapsed_time_1_cry_3),
	.I0(elapsed_time[4]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_4),
	.SUM(saved_elapsed_time_1[4])
);
defparam saved_elapsed_time_1_cry_4_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_3_0 (
	.CIN(saved_elapsed_time_1_cry_2),
	.I0(elapsed_time[3]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_3),
	.SUM(saved_elapsed_time_1[3])
);
defparam saved_elapsed_time_1_cry_3_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_2_0 (
	.CIN(saved_elapsed_time_1_cry_1),
	.I0(elapsed_time[2]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_2),
	.SUM(saved_elapsed_time_1[2])
);
defparam saved_elapsed_time_1_cry_2_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_1_0 (
	.CIN(saved_elapsed_time_1_cry_0),
	.I0(elapsed_time[1]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_1),
	.SUM(saved_elapsed_time_1[1])
);
defparam saved_elapsed_time_1_cry_1_0.ALU_MODE=0;
// @6:205
  ALU saved_elapsed_time_1_cry_0_0 (
	.CIN(VCC),
	.I0(elapsed_time[0]),
	.I1(GND),
	.I3(GND),
	.COUT(saved_elapsed_time_1_cry_0),
	.SUM(saved_elapsed_time_1[0])
);
defparam saved_elapsed_time_1_cry_0_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_s_14_0 (
	.CIN(un1_repeat_count_cry_13),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[14]),
	.I3(GND),
	.COUT(un1_repeat_count_s_14_0_COUT),
	.SUM(un1_repeat_count_s_14_0_SUM)
);
defparam un1_repeat_count_s_14_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_13_0 (
	.CIN(un1_repeat_count_cry_12),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[13]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_13),
	.SUM(un1_repeat_count_cry_13_0_SUM)
);
defparam un1_repeat_count_cry_13_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_12_0 (
	.CIN(un1_repeat_count_cry_11),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[12]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_12),
	.SUM(un1_repeat_count_cry_12_0_SUM)
);
defparam un1_repeat_count_cry_12_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_11_0 (
	.CIN(un1_repeat_count_cry_10),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[11]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_11),
	.SUM(un1_repeat_count_cry_11_0_SUM)
);
defparam un1_repeat_count_cry_11_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_10_0 (
	.CIN(un1_repeat_count_cry_9),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[10]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_10),
	.SUM(un1_repeat_count_cry_10_0_SUM)
);
defparam un1_repeat_count_cry_10_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_9_0 (
	.CIN(un1_repeat_count_cry_8),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[9]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_9),
	.SUM(un1_repeat_count_cry_9_0_SUM)
);
defparam un1_repeat_count_cry_9_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_8_0 (
	.CIN(un1_repeat_count_cry_7),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[8]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_8),
	.SUM(un1_repeat_count_cry_8_0_SUM)
);
defparam un1_repeat_count_cry_8_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_7_0 (
	.CIN(un1_repeat_count_cry_6),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[7]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_7),
	.SUM(un1_repeat_count_cry_7_0_SUM)
);
defparam un1_repeat_count_cry_7_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_6_0 (
	.CIN(un1_repeat_count_cry_5),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[6]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_6),
	.SUM(un1_repeat_count_cry_6_0_SUM)
);
defparam un1_repeat_count_cry_6_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_5_0 (
	.CIN(un1_repeat_count_cry_4),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[5]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_5),
	.SUM(un1_repeat_count_cry_5_0_SUM)
);
defparam un1_repeat_count_cry_5_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_4_0 (
	.CIN(un1_repeat_count_cry_3),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[4]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_4),
	.SUM(un1_repeat_count_cry_4_0_SUM)
);
defparam un1_repeat_count_cry_4_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_3_0 (
	.CIN(un1_repeat_count_cry_2),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[3]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_3),
	.SUM(un1_repeat_count_cry_3_0_SUM)
);
defparam un1_repeat_count_cry_3_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_2_0 (
	.CIN(un1_repeat_count_cry_1),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[2]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_2),
	.SUM(un1_repeat_count_cry_2_0_SUM)
);
defparam un1_repeat_count_cry_2_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_1_0 (
	.CIN(un1_repeat_count_cry_0),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[1]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_1),
	.SUM(un1_repeat_count_cry_1_0_SUM)
);
defparam un1_repeat_count_cry_1_0.ALU_MODE=0;
// @6:212
  ALU un1_repeat_count_cry_0_0 (
	.CIN(GND),
	.I0(repeat_count_1_sqmuxa),
	.I1(repeat_count[0]),
	.I3(GND),
	.COUT(un1_repeat_count_cry_0),
	.SUM(un1_repeat_count_cry_0_0_SUM)
);
defparam un1_repeat_count_cry_0_0.ALU_MODE=0;
// @6:196
  ALU un2_step_id_2_s_6_0 (
	.CIN(un2_step_id_2_cry_5),
	.I0(un2_step_id_2_axb_6),
	.I1(GND),
	.I3(GND),
	.COUT(un2_step_id_2_s_6_0_COUT),
	.SUM(un2_step_id_2_s_6_0_SUM)
);
defparam un2_step_id_2_s_6_0.ALU_MODE=0;
// @6:196
  ALU un2_step_id_2_cry_5_0 (
	.CIN(un2_step_id_2_cry_4),
	.I0(un2_step_id_2_cry_5_0_RNO),
	.I1(step_id[5]),
	.I3(GND),
	.COUT(un2_step_id_2_cry_5),
	.SUM(un2_step_id_2_cry_5_0_SUM)
);
defparam un2_step_id_2_cry_5_0.ALU_MODE=0;
// @6:196
  ALU un2_step_id_2_cry_4_0 (
	.CIN(un2_step_id_2_cry_3),
	.I0(un2_step_id_2_cry_4_0_RNO),
	.I1(step_id[4]),
	.I3(GND),
	.COUT(un2_step_id_2_cry_4),
	.SUM(un2_step_id_2_cry_4_0_SUM)
);
defparam un2_step_id_2_cry_4_0.ALU_MODE=0;
// @6:196
  ALU un2_step_id_2_cry_3_0 (
	.CIN(un2_step_id_2_cry_2),
	.I0(un2_step_id_2_cry_3_0_RNO),
	.I1(step_id[3]),
	.I3(GND),
	.COUT(un2_step_id_2_cry_3),
	.SUM(un2_step_id_2_cry_3_0_SUM)
);
defparam un2_step_id_2_cry_3_0.ALU_MODE=0;
// @6:196
  ALU un2_step_id_2_cry_2_0 (
	.CIN(un2_step_id_2_cry_1),
	.I0(un2_step_id_2_cry_2_0_RNO),
	.I1(step_id[2]),
	.I3(GND),
	.COUT(un2_step_id_2_cry_2),
	.SUM(un2_step_id_2_cry_2_0_SUM)
);
defparam un2_step_id_2_cry_2_0.ALU_MODE=0;
// @6:196
  ALU un2_step_id_2_cry_1_0 (
	.CIN(un2_step_id_2_cry_0),
	.I0(un2_step_id_2_cry_1_0_RNO),
	.I1(step_id[1]),
	.I3(GND),
	.COUT(un2_step_id_2_cry_1),
	.SUM(un2_step_id_2_cry_1_0_SUM)
);
defparam un2_step_id_2_cry_1_0.ALU_MODE=0;
// @6:196
  ALU un2_step_id_2_cry_0_0 (
	.CIN(GND),
	.I0(un2_step_id_2_cry_0_0_RNO),
	.I1(step_id[0]),
	.I3(GND),
	.COUT(un2_step_id_2_cry_0),
	.SUM(un2_step_id_2_cry_0_0_SUM)
);
defparam un2_step_id_2_cry_0_0.ALU_MODE=0;
// @6:19
  LED_TM1637_ROM oled_rom_init (
	.encoded_step({encoded_step[47:44], N_1151, N_1150, N_1149, N_1148, encoded_step[39:0]}),
	.clk_led_0(clk_led[0]),
	.encoded_step_i_0(encoded_step_i[7]),
	.un2_step_id_2_s_6_0_SUM(un2_step_id_2_s_6_0_SUM),
	.un2_step_id_2_cry_5_0_SUM(un2_step_id_2_cry_5_0_SUM),
	.un2_step_id_2_cry_4_0_SUM(un2_step_id_2_cry_4_0_SUM),
	.un2_step_id_2_cry_3_0_SUM(un2_step_id_2_cry_3_0_SUM),
	.un2_step_id_2_cry_2_0_SUM(un2_step_id_2_cry_2_0_SUM),
	.un2_step_id_2_cry_1_0_SUM(un2_step_id_2_cry_1_0_SUM),
	.un2_step_id_2_cry_0_0_SUM(un2_step_id_2_cry_0_0_SUM)
);
// @6:122
  spi_master_8s_8s_0_1 spi0 (
	.wr_spi_0(wr_spi[0]),
	.rd_spi_0(rd_spi[0]),
	.clk_led_0(clk_led[0]),
	.wait_spi_0(wait_spi[0]),
	.un2_step_id_1_0_1_0(\spi0.un2_step_id_1_0_1 [0]),
	.step_id(step_id[3:0]),
	.cnt(cnt[7:0]),
	.encoded_step_37(encoded_step[44]),
	.encoded_step_40(encoded_step[47]),
	.encoded_step_0(encoded_step[7]),
	.encoded_step_38(encoded_step[45]),
	.encoded_step_39(encoded_step[46]),
	.internal_state_machine_0(internal_state_machine[0]),
	.tm1637_dio_c_0(tm1637_dio_c[0]),
	.rst_led_0(rst_led[0]),
	.switches_c(switches_c[3:0]),
	.clk_led_i_0(clk_led[0]),
	.un2_step_id_i_a2_0_a2_0(un2_step_id_i_a2_0_a2[3]),
	.saved_elapsed_time_1_6(saved_elapsed_time_1[16]),
	.saved_elapsed_time_1_8(saved_elapsed_time_1[18]),
	.saved_elapsed_time_1_10(saved_elapsed_time_1[20]),
	.saved_elapsed_time_1_14(saved_elapsed_time_1[24]),
	.saved_elapsed_time_1_15(saved_elapsed_time_1[25]),
	.saved_elapsed_time_1_17(saved_elapsed_time_1[27]),
	.saved_elapsed_time_1_0(saved_elapsed_time_1[10]),
	.saved_elapsed_time_6(saved_elapsed_time[16]),
	.saved_elapsed_time_8(saved_elapsed_time[18]),
	.saved_elapsed_time_10(saved_elapsed_time[20]),
	.saved_elapsed_time_14(saved_elapsed_time[24]),
	.saved_elapsed_time_15(saved_elapsed_time[25]),
	.saved_elapsed_time_17(saved_elapsed_time[27]),
	.saved_elapsed_time_0(saved_elapsed_time[10]),
	.N_168_i_0(N_168_i_0),
	.repeat_count_1_sqmuxa(repeat_count_1_sqmuxa),
	.N_91_i(N_91_i),
	.N_85_i(N_85_i),
	.repeat_count_0_sqmuxa(repeat_count_0_sqmuxa),
	.rst_led_0_sqmuxa(rst_led_0_sqmuxa),
	.elapsed_time_0_sqmuxa_i_0_1z(elapsed_time_0_sqmuxa_i_0),
	.un2_cnt_i(un2_cnt_i),
	.un1_elapsed_time_cry_27(un1_elapsed_time_cry_27),
	.N_165(N_165),
	.elapsed_time9(elapsed_time9),
	.N_279(N_279),
	.N_411(N_411),
	.N_435(N_435),
	.N_447(N_447),
	.N_495(N_495),
	.N_519(N_519),
	.N_543(N_543),
	.N_590_i_0(N_590_i_0),
	.N_170_i(N_170_i),
	.N_55_i(N_55_i),
	.N_169_i(N_169_i),
	.N_164_i(N_164_i),
	.N_164(N_164)
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* LED_TM1637 */

