//
// Written by Synplify Pro 
// Product Version "N-2018.03G-Beta6"
// Program "Synplify Pro", Mapper "mapgw, Build 1086R"
// Mon Oct 15 23:49:06 2018
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\gowin\1.8\synplifypro\lib\generic\gw1n.v "
// file 1 "\c:\gowin\1.8\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\gowin\1.8\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\gowin\1.8\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\fpga_led_tm1637\src\spi_master.v "
// file 6 "\c:\fpga_led_tm1637\src\led_tm1637.v "
// file 7 "\c:\fpga_led_tm1637\src\rom.v "
// file 8 "\c:\fpga_led_tm1637\src\led_tm1637_rom.v "
// file 9 "\c:\gowin\1.8\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
module LED_TM1637 (
  clk_50M,
  rst_n,
  tm1637_clk,
  tm1637_dio,
  led,
  switches
)
;
input [0:0] clk_50M ;
input [0:0] rst_n ;
output [0:0] tm1637_clk /* synthesis syn_tristate = 1 */ ;
output [0:0] tm1637_dio /* synthesis syn_tristate = 1 */ ;
output [3:0] led ;
input [3:0] switches ;
wire [3:0] cnt2;
wire [3:0] cnt;
wire [3:1] cnt_1;
wire [3:1] cnt2_1;
wire [0:0] clk_50M_c;
wire [3:0] led_c;
wire [0:0] cnt_i;
wire [3:0] cnt2_i;
wire GND ;
wire VCC ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @6:138
  INV \cnt2_RNO[1]  (
	.I(cnt2[1]),
	.O(cnt2_1[1])
);
// @6:127
  INV \cnt_RNO[1]  (
	.I(cnt[1]),
	.O(cnt_1[1])
);
// @6:137
  INV \cnt2_i_cZ[0]  (
	.I(cnt2[0]),
	.O(cnt2_i[0])
);
// @6:102
  INV \cnt_i_cZ[0]  (
	.I(cnt[0]),
	.O(cnt_i[0])
);
// @6:137
  INV \led_RNO[2]  (
	.I(cnt2[1]),
	.O(cnt2_i[1])
);
// @6:137
  INV \led_RNO[1]  (
	.I(cnt2[2]),
	.O(cnt2_i[2])
);
// @6:137
  INV \led_RNO[0]  (
	.I(cnt2[3]),
	.O(cnt2_i[3])
);
// @6:127
  LUT2 \cnt_RNO[2]  (
	.I0(cnt[1]),
	.I1(cnt[2]),
	.F(cnt_1[2])
);
defparam \cnt_RNO[2] .INIT=4'h6;
// @6:138
  LUT2 \cnt2_RNO[2]  (
	.I0(cnt2[1]),
	.I1(cnt2[2]),
	.F(cnt2_1[2])
);
defparam \cnt2_RNO[2] .INIT=4'h6;
// @6:138
  LUT3 \cnt2_RNO[3]  (
	.I0(cnt2[1]),
	.I1(cnt2[2]),
	.I2(cnt2[3]),
	.F(cnt2_1[3])
);
defparam \cnt2_RNO[3] .INIT=8'h78;
// @6:127
  LUT3 \cnt_RNO[3]  (
	.I0(cnt[1]),
	.I1(cnt[2]),
	.I2(cnt[3]),
	.F(cnt_1[3])
);
defparam \cnt_RNO[3] .INIT=8'h78;
// @6:137
  DFF \led_Z[3]  (
	.Q(led_c[3]),
	.D(cnt2_i[0]),
	.CLK(cnt[3])
);
// @6:137
  DFF \led_Z[2]  (
	.Q(led_c[2]),
	.D(cnt2_i[1]),
	.CLK(cnt[3])
);
// @6:137
  DFF \led_Z[1]  (
	.Q(led_c[1]),
	.D(cnt2_i[2]),
	.CLK(cnt[3])
);
// @6:137
  DFF \led_Z[0]  (
	.Q(led_c[0]),
	.D(cnt2_i[3]),
	.CLK(cnt[3])
);
// @6:137
  DFF \cnt2_Z[0]  (
	.Q(cnt2[0]),
	.D(cnt2_i[0]),
	.CLK(cnt[3])
);
defparam \cnt2_Z[0] .INIT=1'b0;
// @6:102
  DFF \cnt_Z[0]  (
	.Q(cnt[0]),
	.D(cnt_i[0]),
	.CLK(clk_50M_c[0])
);
defparam \cnt_Z[0] .INIT=1'b0;
// @6:102
  DFFE \cnt_Z[3]  (
	.Q(cnt[3]),
	.D(cnt_1[3]),
	.CLK(clk_50M_c[0]),
	.CE(cnt[0])
);
defparam \cnt_Z[3] .INIT=1'b0;
// @6:137
  DFFE \cnt2_Z[3]  (
	.Q(cnt2[3]),
	.D(cnt2_1[3]),
	.CLK(cnt[3]),
	.CE(cnt2[0])
);
defparam \cnt2_Z[3] .INIT=1'b0;
// @6:137
  DFFE \cnt2_Z[2]  (
	.Q(cnt2[2]),
	.D(cnt2_1[2]),
	.CLK(cnt[3]),
	.CE(cnt2[0])
);
defparam \cnt2_Z[2] .INIT=1'b0;
// @6:102
  DFFE \cnt_Z[2]  (
	.Q(cnt[2]),
	.D(cnt_1[2]),
	.CLK(clk_50M_c[0]),
	.CE(cnt[0])
);
defparam \cnt_Z[2] .INIT=1'b0;
// @6:137
  DFFE \cnt2_Z[1]  (
	.Q(cnt2[1]),
	.D(cnt2_1[1]),
	.CLK(cnt[3]),
	.CE(cnt2[0])
);
defparam \cnt2_Z[1] .INIT=1'b0;
// @6:102
  DFFE \cnt_Z[1]  (
	.Q(cnt[1]),
	.D(cnt_1[1]),
	.CLK(clk_50M_c[0]),
	.CE(cnt[0])
);
defparam \cnt_Z[1] .INIT=1'b0;
// @6:6
  IBUF \clk_50M_ibuf[0]  (
	.O(clk_50M_c[0]),
	.I(clk_50M[0])
);
// @6:8
  TBUF \tm1637_clk_obuft[0]  (
	.I(GND),
	.OEN(VCC),
	.O(tm1637_clk[0])
);
// @6:9
  TBUF \tm1637_dio_obuft[0]  (
	.I(GND),
	.OEN(VCC),
	.O(tm1637_dio[0])
);
// @6:10
  OBUF \led_obuf[0]  (
	.O(led[0]),
	.I(led_c[0])
);
// @6:10
  OBUF \led_obuf[1]  (
	.O(led[1]),
	.I(led_c[1])
);
// @6:10
  OBUF \led_obuf[2]  (
	.O(led[2]),
	.I(led_c[2])
);
// @6:10
  OBUF \led_obuf[3]  (
	.O(led[3]),
	.I(led_c[3])
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* LED_TM1637 */

