/****************************************************************
========Oooo=========================================Oooo========
=     Copyright ©2014-2018 Gowin Semiconductor Corporation.     =
=                     All rights reserved.                      =
========Oooo=========================================Oooo========
PORT Constraint File

gowin version v1.8.0.02Beta
Part: GW1N-4
Package: LQFP144
Speed: 6
****************************************************************/

IO_LOC "clk_50M"     6;
IO_LOC "rst_n"       66;
IO_LOC "switches[0]" 68;
IO_LOC "switches[1]" 69;
IO_LOC "switches[2]" 79;
IO_LOC "switches[3]" 80;
IO_LOC "tm1637_clk"  134;
IO_LOC "tm1637_dio"  135;
IO_LOC "tm1637_clk_drain" 131;
IO_LOC "tm1637_dio_drain" 132;
IO_LOC "tm1637_vcc"  133;
IO_LOC "led[0]"      47;
IO_LOC "led[1]"      57;
IO_LOC "led[2]"      60;
IO_LOC "led[3]"      61;
IO_LOC "debug_step_id[0]" 136;
IO_LOC "debug_step_id[1]" 137;
IO_LOC "debug_step_id[2]" 138;
IO_LOC "debug_step_id[3]" 139;
IO_LOC "debug_step_id[4]" 140;
IO_LOC "debug_step_id[5]" 141;
IO_LOC "debug_step_id[6]" 142;
